<div data-role="view" data-title="Children Health" data-layout="main-nonav" data-model="app.childernHealth" data-show="app.childernHealth.onShow" data-after-show="app.childernHealth.afterShow">
    <!-- START_CUSTOM_CODE_childernHealth -->
    <!-- END_CUSTOM_CODE_childernHealth -->
    <ul data-role="listview" data-style="inset" data-template="childernHealthModelTemplate" data-bind="{ source: childernHealthModel.dataSource, events: {click: childernHealthModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="false" data-filterable="{field: 'ImageUrl', operator: 'contains'}">
    </ul>
    <!-- START_CUSTOM_CODE_childernHealthModel -->
    <!-- END_CUSTOM_CODE_childernHealthModel -->
    <script type="text/x-kendo-template" id="childernHealthModelTemplate">
        <div class="image-with-text">
            <h3>#: data['ProductName'] #</h3>

        </div>
    </script>
</div>