    <div data-role="view" data-title="E Gift Card" data-layout="giftcard" data-model="app.egiftcard" data-show="app.paymeegiftcardow" data-after-show="app.paymentOptegiftcard">
        <!-- START_CUSTOM_CODE_egiftcard -->
            <div class="signin-view">
            <form>
                <ul class="form-ul" >
                    <li>
                        
                       <div class="authentication-textbox-div">

                             <input id="inputCardNumber"   onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)"  maxlength = "20"   placeholder="E Gift Card Number" type="number" 
                                    
                               max="99999999999999999999" >
                        </div>


                    </li>
                    <li>
                        <div class="authentication-text-spacing">

                        </div>
                    </li>
                    <li>
                                         
                     <div class="authentication-textbox-div">
                            <input id="inputCardPin"  maxlength = "7"  onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)"   placeholder="E Gift Card Pin"  type="number" 
                                   class="password" 
                                   
                                    max="9999999999" >
                      </div>
                    </li>
                </ul>

                <div class="button-group button-group-vertical">
                    <a data-role="button" class="Orange-button km-large"     >View Balance</a>

                    <a data-role="button" class="Gray-button km-large" >Reset</a>

                </div>
            </form>
        </div>
          <ul class="payment-option"  >

     
              <li >
                  <div  style="width:60%;float:left;">
                    
                           Order Amount
                         
                  </div>
                  <div   style="width:40%;float:right;">
                   

                         &#8377 &nbsp; 2300.00
                  
                  </div>
              </li>
               <li>
                  <div  style="width:60%;float:left;">
                    
                         Balance Amount in Card
                         
                  </div>
                  <div   style="width:30%;float:right;">
                    


                         &#8377 &nbsp; 1000.00
                   
                  </div>
              </li>
               <li align="center">
                  <div  style="width:100%;" class="left" align="left" >
                     
                          Pay Balance amount Using Bill Desk
                     
                  </div>
              </li>
               <li>
                                    <a href="components/thankyou/view.html"   data-role="button" class="Orange-button km-large class100"   >Place Order</a>
                             </li>

        <!-- END_CUSTOM_CODE_egiftcard -->
    </div>