    <div data-role="view" data-title="E Gift Card" data-layout="giftcard" data-model="app.egiftcard" data-show="app.paymeegiftcardow" data-after-show="app.paymentOptegiftcard">
        <!-- START_CUSTOM_CODE_egiftcard -->
            <div class="signin-view">
            <form>
                <ul class="form-ul" >
                    <li>
                        <span id="spanCardNumber" class="animated-placholder" style="top:30px;">Gift Card Number</span>
                       <div class="authentication-textbox-div">

                             <input id="inputCardNumber" onkeypress="aniEmail();"  onkeyup = "upaniEmail(this.id);"  placeholder="Gift Card Number" type="email" data-bind="value: authenticationViewModel.email" >
                        </div>


                    </li>
                    <li>
                        <div class="authentication-text-spacing">

                        </div>
                    </li>
                    <li>
                                            <span id="spanCardPin" class="animated-placholder" style="top:110px;">Gift Card Pin</span>
                     <div class="authentication-textbox-div">
                            <input id="inputCardPin" onkeypress="aniPassword();"  onkeyup = "upaniPassword(this.id);"  placeholder="Gift Card Pin"  type="password" data-bind="value: authenticationViewModel.password" required>
                      </div>
                    </li>
                </ul>

                <div class="button-group button-group-vertical">
                    <a data-role="button" class="Green-button km-large"     >View Balance</a>

                    <a data-role="button" class="Gray-button km-large" >Reset</a>

                </div>
            </form>
        </div>
          <ul class="payment-option"  >

     
              <li >
                  <div  style="width:50%;float:left;">
                    
                           Order Amount
                         
                  </div>
                  <div   style="width:50%;float:left;">
                   

                         &#8377 &nbsp; 2300.00
                  
                  </div>
              </li>
               <li>
                  <div  style="width:50%;float:left;">
                    
                         Blance Amount in Card
                         
                  </div>
                  <div   style="width:50%;float:left;">
                    


                         &#8377 &nbsp; 1000.00
                   
                  </div>
              </li>
               <li align="center">
                  <div  style="width:100%;" class="left" align="left" >
                     
                          Pay Balance amount Using Bill Desk
                     
                  </div>
              </li>
               <li>
                                    <a href="components/thankyou/view.html"   data-role="button" class="Green-button km-large class100"   >Place Order</a>
                             </li>

        <!-- END_CUSTOM_CODE_egiftcard -->
    </div>