    <div data-role="view" data-title="Home" data-layout="main-nonav" data-model="app.home2" data-show="app.home2.onShow" data-after-show="app.home2.afterShow">
        <!-- START_CUSTOM_CODE_home -->


<!--             <div data-role="scroller" class="image-home" data-elastic="false">


                <div class="home-image-a"><a href="components/dataListView/view.html" data-role="button" class="home-button"  > <img src="images/PERSONAL-CARE.jpg" width="100%" ></a></div>
                  <div class="home-image-a"><a href="components/postbath/view.html" data-role="button" class="home-button"   ><img src="images/baby-care.jpg" width="100%" ></a></div>
                  <div class="home-image-a"><a href="components/childrenhealth/view.html" data-role="button"  class="home-button" ><img src="images/PHARMACEUTICALS.jpg" width="100%" ></a></div>
                 <div class="home-image-a"><a href="components/animalCare/view.html" data-role="button" class="home-button" ><img src="images/animal-care.jpg" width="100%" ></a></div>
                  <div class="home-image-a"><a href="components/pureHerbs/view.html" data-role="button" class="home-button"  > <img src="images/wellness.jpg" width="100%" ></a></div>
                 <div class="home-image-a"><a href="components/Currentoffers/view.html" data-role="button"  class="home-button"  ><img src="images/OFFERS.jpg" width="100%"></a></div>


           </div> -->
        
         <div style="float:left;width:100%;margin-bottom:10px;position:relative;"> 
         <div data-role="scrollview" data-page="0" data-content-height="150px" data-pager-overlay="true" id="scrollView">
              <div class="photo" data-role="page">
                  <div class="column1"><img src="images/banner1.jpg" width="100%"/></div>
              </div>
             <div class="photo" data-role="page">
                  <div class="column1"><img src="images/savebig.jpg" width="100%"/></div>
              </div>
             <div class="photo" data-role="page">
                  <div class="column1"><img src="images/bogof.jpg" width="100%"/></div>
              </div>
        </div>
        </div>
        <div style="float:left;width:100%;margin-bottom:9px;z-index:100000!important; margin-top:-50px;position:relative;">
        	<div style="float:left;width:30%;position:relative;">
                <a data-click="prev" class="bannerprevnext" data-role="button" data-icon="prev"></a>
            </div>

            <div style="float:right;width:40%;position:relative;text-align:right;">
                <a data-click="next" class="bannerprevnext" data-role="button" data-icon="next"></a>
            </div>    
        </div>
        <input type="hidden" id="hidbanner" value="0">
       <div style="float:left;width:100%;margin-bottom:10px;position:relative;"> 
         <div data-role="scroller" class="image-home" data-elastic="false">

             <ul data-role="listview">
             	 <li class="oddli">
                		<div class="column34 marginleft5" data-align="left">
                             <h3>Pharmaceuticals</h3>
                        </div>	 

                        <div class="column13 marginleft5" data-align="center">
                             <img src="images/PHARMACEUTICALS.jpg" class="km-thumbnailhome">
                        </div> 
                 </li>
                 <li class="evenli">
                 		<div class="column34 marginleft5" data-align="left">
                             <h3>Personal Care</h3>
                         </div>

                         <div class="column13 marginleft5" data-align="center">
                             <img src="images/PERSONAL-CARE.jpg" class="km-thumbnailhome">
                         </div>
                 </li>
                 <li class="oddli">
                 		<div class="column34" data-align="left">
                        	 <h3>Baby Care</h3>
                        </div>
                     	<div class="column13" data-align="center">
                             <img src="images/baby-care.jpg" class="km-thumbnailhome">
                        </div>
                        
                 </li>
                 <li class="evenli">
             			<div class="column34" data-align="left">
                             <h3>Wellness</h3>
                         </div> 
                     	<div class="column13" data-align="center">
                             <img src="images/wellness.jpg" class="km-thumbnailhome">
                         </div>
                             
                 </li>
                 <li class="oddli">
             			 <div class="column34" data-align="left">
                             <h3>Animal Care</h3>
                         </div>
                     	 <div class="column13" data-align="center">
                             <img src="images/animal-care.jpg" class="km-thumbnailhome">
                         </div>
                             
                 </li>
             </ul>
             
        </div>
            </div>               
        
            <footer data-role="footer">
        </footer>
         
        
        <!-- END_CUSTOM_CODE_home -->
        
        

    </div>