<div data-role="view" data-title="Home" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    
    <div>
        <ul data-role="listview" >
            <li class="left home_tile"><a href="components/dataListView/view.html" data-role="button"> <img src="images/hair-care.jpg"></a></li>
              <li class="left home_tile"><a href="components/animalCare/view.html"><img src="images/animal-care.jpg" ></a></li>
              <li class="left home_tile"><a href="components/postbath/view.html"><img src="images/baby-care.jpg"></a></li>
              <li class="left home_tile"><a href="components/childernHealth/view.html"><img src="images/pharma.jpg"></a></li>
              <li class="left home_tile"><a href="components/pureHerbs/view.html"> <img src="images/wellness.jpg"></a></li>
              <li class="left home_tile"><a href="components/dataListView/view.html"><img src="images/hair-care.jpg"></a></li>
  
        </ul>
    </div>
   
    <!-- END_CUSTOM_CODE_home -->
</div>