<div data-role="view" data-title="Home" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    

        <div data-role="scroller" class="image-home" data-elastic="false">
            
      
            <div class="home-image-a"><a href="components/dataListView/view.html" data-role="button" class="home-button"  > <img src="images/PERSONAL-CARE.jpg" width="100%" ></a></div>
              <div class="home-image-a"><a href="components/postbath/view.html" data-role="button" class="home-button"   ><img src="images/baby-care.jpg" width="100%" ></a></div>
              <div class="home-image-a"><a href="components/childernHealth/view.html" data-role="button"  class="home-button" ><img src="images/PHARMACEUTICALS.jpg" width="100%" ></a></div>
             <div class="home-image-a"><a href="components/animalCare/view.html" data-role="button" class="home-button" ><img src="images/animal-care.jpg" width="100%" ></a></div>
              <div class="home-image-a"><a href="components/pureHerbs/view.html" data-role="button" class="home-button"  > <img src="images/wellness.jpg" width="100%" ></a></div>
             <div class="home-image-a"><a href="components/Currentoffers/view.html" data-role="button"  class="home-button"  ><img src="images/OFFERS.jpg" width="100%"></a></div>
          
  
       </div>

   
    <!-- END_CUSTOM_CODE_home -->
</div>