    <div data-role="view" data-title="Home" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
        <!-- START_CUSTOM_CODE_home -->
        <div  class="image-home" data-elastic="false"  >
                       
            <div class="column1"><img src="images/splitbanner/500X200.jpg" width="100%"/></div>
            </a>
            
            <div class="column2"><img src="images/splitbanner/1-200X200.jpg" width="100%"/></div>
            <div class="column2"><img src="images/splitbanner/2-200X200.jpg" width="100%"/></div>
            
            <div class="column1"><img src="images/explorewellness.jpg" width="100%"/></div>
            
            <div class="column3"><img src="images/splitbanner/4-200X200.jpg" width="100%"/></div>
            <div class="column3"><img src="images/splitbanner/2-200X200.jpg" width="100%"/></div>
            <div class="column3"><img src="images/splitbanner/3-200X200.jpg" width="100%"/></div>
            
            
            <div class="column2"><img src="images/splitbanner/1-200X300.jpg" width="100%"/></div>
            <div class="column2"><img src="images/splitbanner/2-200X300.jpg" width="100%"/></div>
            
            
      
         <footer data-role="footer">
        </footer>
        <!-- END_CUSTOM_CODE_home -->
    </div>