<div data-role="view" data-title="Summary" data-layout="summary" data-model="app.summary" data-show="app.summary.onShow" data-after-show="app.summary.afterShow">
    <!-- START_CUSTOM_CODE_summary -->
    <!-- END_CUSTOM_CODE_summary -->
    
    <div   data-title="Promotion and redemption">
           
             <div>
                
             
               
                     <ul data-role="listview" data-style="inset">
                        
                <li>
                      
                    
                         
                 
     <input data-align="left"  placeholder="Coupon Code"  class=" summary-text"  required autofocus />
                     
                   <a  data-role="button" data-align="left" class="km-small button-summary-white" >Apply</a>
                           
                         </li>
                         <li>
                      
                    <h3>points available to reedem &nbsp;<b>1400</b> </h3>
                         
                 
                            <input data-align="left"  placeholder="Redeem points"  class=" summary-text"  required autofocus>
                     
                   <a  data-role="button" data-align="left" class="km-small button-summary-white" >Apply</a>
                           
                         </li>
                         <li><div class="left">
                             
                           
                             <h6>
                                 Total
                             </h6>
                               </div>
                             <div  class="Right">
                                 
                         
                             <h6>
                                  &#8377 &nbsp; 2750.00
                             </h6>
                                     </div>
                         </li>
                          <li><div class="left">
                             
                           
                             <h6>
                                 Shipping
                             </h6>
                               </div>
                             <div class="Right">
                                 
                         
                             <h6>
                                 &#8377 &nbsp; 00.00
                             </h6>
                                     </div>
                         </li>
                          <li><div class="left">
                             
                           
                             <h6>
                                 coupon Code discount
                             </h6>
                               </div>
                             <div class="Right">
                                 
                         
                             <h6>
                                 &#8377 &nbsp; 110.00
                             </h6>
                                     </div>
                         </li>
                          <li><div class="left">
                             
                           
                             <h6>
                                 Reedem Points Amount
                             </h6>
                               </div>
                             <div class="Right">
                                 
                         
                             <h6>
                                 &#8377 &nbsp; 0.00
                             </h6>
                                     </div>
                         </li>
                         <li><div class="left">
                             
                           
                             <h3 style="font-weight:bold;">
                                 Payable Amount
                             </h3>
                               </div>
                             <div class="Right">
                                 
                         
                             <h4 style="font-weight:bold;color:#006C6F;">
                                 &#8377 &nbsp; 2640.00
                             </h4>
                                     </div>
                         </li>
                           <li>
                              
                            Cash On Delivery  <input data-role="switch" id="email-switch"   data-bind="events: { change: onChange }">
                              
                         </li>
                         <li>
                                <a href="components/paymentOptiion/view.html" style="background-color:#006C6F;color:white;text-align:center;" data-role="button"  >Continue Checkout</a>
                         </li>
             </div>
         </div>

 
</div>