<div data-role="view" data-title="Summary" data-layout="summary" data-model="app.summary" data-show="app.summary.onShow" data-after-show="app.summary.afterShow">
    <!-- START_CUSTOM_CODE_summary -->
    <!-- END_CUSTOM_CODE_summary -->
    
    <div   data-title="Promotion and redemption">
           
             <div>
                
             
               
                     <ul data-role="listview" data-style="inset"  class="form-ul">
                        
                <li>
                      
                    
                         
                 
     <input data-align="left"  placeholder="Coupon Code"  class=" summary-text"  required autofocus />
                     <div class="padding-20">
                         
                  
                   <a  data-role="button" data-align="left" class="Gray-button km-large class100" >Apply</a>
                           </div>  
                         </li>
                         <li>
                      
                    <h3>Points available to reedem &nbsp;<b>1400</b> </h3>
                         
                 
                            <input data-align="left"   placeholder="Redeem points"  maxlength="5" type="number"  class=" summary-text"  required autofocus>
                      <div class="padding-100">
                   <a  data-role="button" data-align="left" class="Gray-button km-large class100" >Apply</a>
                             </div>
                         </li>
                         <li><div class="left">
                             
                           
                          
                                 Total
                           
                               </div>
                             <div  class="Right">
                                 
                         
                         
                                  &#8377 &nbsp; 2750.00
                           
                                     </div>
                         </li>
                          <li><div class="left">
                             
                           
                             
                                 Shipping
                           
                               </div>
                             <div class="Right">
                                 
                         
                         
                                 &#8377 &nbsp; 00.00
                        
                                     </div>
                         </li>
                          <li><div class="left">
                             
                           
                          
                                 Coupon Code Discount
                        
                               </div>
                             <div class="Right">
                                 
                         
                           
                                 &#8377 &nbsp; 110.00
                        
                                     </div>
                         </li>
                          <li><div class="left">
                             
                           
                          
                                 Reedem Points Amount
                             
                               </div>
                             <div class="Right">
                                 
                    
                                 &#8377 &nbsp; 0.00
                     
                                     </div>
                         </li>
                         <li><div class="left">
                             
                           
                             <h3 style="font-weight:bold;">
                                 Payable Amount
                             </h3>
                               </div>
                             <div class="Right">
                                 
                         
                             <h4 style="font-weight:bold;color:#006C6F;">
                                 &#8377 &nbsp; 2640.00
                             </h4>
                                     </div>
                         </li>
                           <li>
                              
                            Cash On Delivery  <input data-role="switch" id="email-switch"   data-bind="events: { change: onChange }">
                              
                         </li>
         
                 </ul>
                  
             </div>
         </div>
     <div class="button-group">
                <a  id="summary-Submit" class="Orange-button km-large class100"  href="components/paymentOptiion/view.html" data-role="button" >Continue</a>
            </div>

 
</div>