<div data-role="view" data-title="Animal Care" data-layout="main-nonav" data-model="app.animalCare" data-show="app.animalCare.onShow" data-after-show="app.animalCare.afterShow">
    <!-- START_CUSTOM_CODE_animalCare -->
    <!-- END_CUSTOM_CODE_animalCare -->
    <ul data-role="listview" data-style="inset" data-template="animalCareModelTemplate" data-bind="{ source: animalCareModel.dataSource, events: {click: animalCareModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="false" data-filterable="{field: 'ProductName', operator: 'contains'}">
    </ul>
    <!-- START_CUSTOM_CODE_animalCareModel -->
    <!-- END_CUSTOM_CODE_animalCareModel -->
    <script type="text/x-kendo-template" id="animalCareModelTemplate">
        <div class="image-with-text">
            <h3>#: data['ProductName'] #</h3>

        </div>
    </script>
</div>