<div data-role="view" data-title="Details" data-model="app.dataListView.dataListViewModel" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div style="display: inline-block;width:100%;">
           
              
                 <a data-role="backbutton" class="detail-back" data-align="left" data-icon="details" ></a>
                 <span style=" font-size:100%;display: inline-block;white-space:nowrap;"  data-align="left"   >Personal Care</span>
            
                <a data-role="button"  href="#appDrawer" style="background-image:url(images/search.png);background-color:#FFF;background-size: 100% 100%;background-repeat: no-repeat;width:100px;height:27px;border:none;"    data-align="right" >
                     
                    </a>
                  <a data-role="button" style="color:#696969;" data-rel="drawer" href="#rightdrawer"  data-icon="right-e" data-align="right" ></a> 
                </div>
        </div>
    </header>
     <div id="divOuter">
        
 
<div style="margin: auto;width: 100%;padding-botom:10px;padding-left:10px;">
    
  
    <h3 data-bind="text: currentItem.ProductName"></h3>
    <span class="tagline" data-bind="text: currentItem.tagline"></span>
  </div>
    <div style="">
        
  
    <img data-bind="attr: { src: currentItem.ImageUrlUrl }" width="100%" height="auto">
          </div>
       <div style="padding-left:20px;">
           <div>
               
         <span style="float:left;padding-top:10px;padding-right:10px;font-style:italic">Price:</span>
          <span style="float:left;font-weight:bold;padding-top:10px;padding-right:5px;">
             &#8377;
           </span>  <span style="float:left;font-weight:bold;padding-top:10px;" data-bind="text: currentItem.Price"></span>  
               
      <br style="clear:both" />
               <div style="float:right;margin-top:-30px;padding-right:15px;">
                   <div>
                       
                 
                                           								<a data-product="#: data['ProductName'] #" data-size="#: data['size'] #"  data-imageurl="#:
                                                                        data['ImageUrl'] #" data-id="#: data['Catalogid'] #"  data-role="button" class="left round" onclick="removecart(this);"  data-title="test"  data-test="#: data['Test'] #" >
                                          									<img src="images/User-Interface-Minus-icon.png">
                                          								</a>
                                          								<div  data-init="init"  class="left" style="padding-right:7px;padding-left:7px;padding-top:4px;" >
                                           										0<i></i>
                                           								</div>
                                                                        
                                                                               <a  data-role="button" class="left round"   class="left round" onclick="addTo(this);"  >
                                                                               <img  src="images/User-Interface-Plus-icon.png">
                                                                                </a>
                                           								</div>
                   <div style="float:right;margin-top:15px;min-height:30px;">
                                                                        <a data-role = "button" style="width:90px; font-size:10px;" id=  "btnAddtoWishlist"   class="km-small" onclick="AddtowishListDetails(this.id);">Add to wishlist</a>
                                                                        <span style="font-size:12px;display:none;color:#FF6600;white-space:nowrap;">Added to wishlist</span>
                                                                        </div>
                     </div>
               <div style="padding-top:20px;">
                   
               <span style="width:100%;color:#a8a8a8;font-style:italic">Size:</span>
           <span style="width:100%;color:#a8a8a8;font-weight:bold" data-bind="text: currentItem.size"></span>
            </div>
             </div>
           
        </div>
        <div style="padding:15px;"  >
<hr>
           <h3 style="font-style:italic" >
            Description:
           </h3>  
            
            <span style="text-align:justif;" data-bind="text: currentItem.ProdDescription"></span>
        </div>
        
            <div style="padding:15px;"  >
                 <hr>
           <h3 style="font-style:italic" >
            Key ingredients:
           </h3>  
          
            <span  style="text-align:justif;" data-bind="text: currentItem.ingredients"></span>
        </div>
           </div>
    
    <!-- START_CUSTOM_CODE_dataListViewModel -->
     <footer data-role="footer">
            <div class="left" style="width:32%;">


                 <a href="#view-transitions-welcome" id="btnCart" data-icon="cart" class="km-small" style="border-radius:40%;" data-role="button" data-badge="4">

                </a>
            </div>
            <div class="left" style="width:32%;height: auto;">

                <div style="color:#fff;margin: 0 auto;width:32%;margin-top:10px;">
                    <span>
                Rs:250.00
            </span>
                </div>
            </div>
            <div style="width:32%;height: auto;float:right">
                <a data-role="button" class="km-primary" style="background-color:#FF6600;color:#fff;float:right;">Check out</a>
            </div>
        </footer>
    <!-- END_CUSTOM_CODE_dataListViewModel ProdDescription-->
</div>
<style>

</style>