<div data-role="view" data-title="Personal Care" data-layout="main" data-model="app.dataListView" data-show="app.dataListView.onShow" data-after-show="app.dataListView.afterShow">
    <!-- START_CUSTOM_CODE_dataListView -->
    <!-- END_CUSTOM_CODE_dataListView -->
    <ul data-role="listview" data-style="inset" data-template="dataListViewModelTemplate" data-bind="{ source: dataListViewModel.dataSource, events: {click: dataListViewModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="false" data-filterable="{field: 'ProductName', operator: 'contains'}">
    </ul>
    <!-- START_CUSTOM_CODE_dataListViewModel -->
    <!-- END_CUSTOM_CODE_dataListViewModel -->
    <script type="text/x-kendo-template" id="dataListViewModelTemplate">
        <div class="image-with-text">
            <img src="#: data['ImageUrlUrl'] #" width="25%" height="25%">
            <h5 style='width:220px;'>#: data['ProductName'] #</h5>
          <p>Rs:#: data['Price'] #</p>
          <div>
          <span style="content: '\e800';"></span>
          </div>
        </div>
    </script>
</div>