<div data-role="view" data-title="Oral Care" data-layout="PersonalCare" data-model="app.oralCare" data-show="app.oralCare.onShow" data-after-show="app.oralCare.afterShow">
    <!-- START_CUSTOM_CODE_oralCare -->
    <!-- END_CUSTOM_CODE_oralCare -->
   
    <ul data-role="listview" data-style="inset" data-template="oralCareModelTemplate" data-bind="{ source: oralCareModel.dataSource, events: {click: oralCareModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="false" >
    </ul>
    <!-- START_CUSTOM_CODE_oralCareModel -->
    <!-- END_CUSTOM_CODE_oralCareModel -->
    <script type="text/x-kendo-template" id="oralCareModelTemplate">
        <div  style="width:100%;">
                 <div class="image-with-text left" style=" display: table;width:100%;" >
                 <div style="display: table-row;width:100%;">
                                             <a  href="\#components/oralCare/details.html?uid=${uid}"> 
                                                     <div style="display: table-cell;width:30%;vertical-align:top;float:left;">
                                                      <img src="#: data['ImageUrl'] #" width="100%" >
                                                      </div>
                                                       <div style="display: table-cell;vertical-align:top;width:30%;" >
                                                       <h5 style="width:100%;">#: data['ProductName'] #</h5>
                                                                                                                <span style="font-size:10px;float:left;color:black;">&\#8377</span> <h6>#: data['Price'] #</h6>
                                                         <h6 style="color:\#a8a8a8">#: data['size'] #</h6>
                                                        </div>
                                                 </a>   
                                        				 <div style="display: table-cell;width:30%;vertical-align:top;">
                                          						<div style="float:right;">
                                          							<div style="float:right;">
                                           								<a data-product="#: data['ProductName'] #" data-size="#: data['size'] #"  data-imageurl="#:
                                                                        data['ImageUrl'] #" data-id="#: data['Catalogid'] #"  data-role="button" class="left round" data-click="removeFromCart"  data-title="test"  data-test="#: data['Test'] #" >
                                          									<img src="images/User-Interface-Minus-icon.png">
                                          								</a>
                                          								<div  data-init="init"  class="left" style="padding-right:7px;padding-left:7px;padding-top:4px;" >
                                           										0<i></i>
                                           								</div>
                                                                        
                                                                               <a  data-role="button" class="left round"  data-product="#: data['ProductName'] #" data-size="#: data['size'] #"  data-imageurl="#: data['ImageUrl'] #" data-id="#: data['Catalogid'] #"  data-role="button" class="left round" data-click="addToCart" data-title="test" 
                                                                               data-test="#: data['Test'] #" >
                                                                               <img  src="images/User-Interface-Plus-icon.png">
                                                                                </a>
                                           								</div>
                                           							</div>
                                                                     <div style="clear: both; float: left; display: block; position: relative;">
                                                                    </div>
                                                                   <div style="float:right;margin-top:25px;min-height:30px;">
                                                                        <a data-role = "button" style="width:90px; font-size:10px;" id=  "btn#: data['Catalogid'] #"   class="km-small" onclick="AddtowishList(this.id);">Add to wishlist</a>
                                                                        <span style="font-size:12px;display:none;color:\#FF6600;white-space:nowrap;">Added to wishlist</span>
                                                                        </div>
                                           					</div>
                                            </div>
                      </div>
       </div>
    </script>

</div>