<div data-role="view" data-title="Redeem points" data-layout="main-nonav" data-model="app.aboutView" data-show="app.aboutView.onShow" data-after-show="app.aboutView.afterShow">
    <div class="about-view" data-bind="invisible:error">
<!--         <div class="icon-group">


            <div class="app-details" align="center">
                <span class="redeem-title">Available Points</span></br>
                <span class="redeem-point-display">1200</span>
            </div>
        
        </div> -->
    <div align="center">
   
        <br/>
        <div align="center" class="row padding">
            <div class="cell padding  greenbg font20" align="center">
                <h3> Earned</h3>
            </div>
             <div class="cell padding  greenbg font20" align="center">
                 <h3> Redeemed</h3>
            </div>
             <div class="cell padding  greenbg font20" align="center">
                 <h3> Remaining</h3>
            </div>
        </div>
             <div align="center" class="row padding">
            <div class="cell padding greybg" align="center">
                <h3>4000</h3>
            </div>
             <div class="cell padding greybg" align="center">
                 <h3>2800</h3>
            </div>
             <div class="cell padding greybg" align="center">
                 <h3>1200</h3>
            </div>
        </div>
    <br/>
    
    <div id="collapsible" data-role="collapsible" data-animation="false">
        <h2 class="GreenMsg">Point Redeemed History</h2>
        <ul data-role="listview"  data-endless-scroll="false" >
         <li>
                 <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Order no</span>
                <span class="history-font">23455</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Order Date</span>
                <span class="history-font">Nov 04 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;"> Redeemed</span>
                <span class="history-font">600</span>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
            </li>
            <li>
                 <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Order no</span>
                <span class="history-font">23453</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Order Date</span>
                <span class="history-font">Oct 22 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;"> Redeemed</span>
                <span class="history-font">800</span>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
            </li>
            <li>
                 <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Order no</span>
                <span class="history-font">23457</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Order Date</span>
                <span class="history-font">aug 02 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Redeemed</span>
                <span class="history-font">400</span>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
            </li>
        </ul>
    </div>
    <div id="collapsible" data-role="collapsible" data-animation="false">
        <h2 class="GreenMsg" >Point Earned History</h2>
        
                 <div  class="container" align="center"  >
            <ul data-role="listview"  data-endless-scroll="false" >
         <li>
                 <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Order no</span>
                <span class="history-font">23450</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Order Date</span>
                <span class="history-font">Nov 10 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;"> Earned</span>
                <span class="history-font">699</span>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
            </li>
            <li>
                 <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Order no</span>
                <span class="history-font">23451</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;">Order Date</span>
                <span class="history-font">Oct 02 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;font-size:15px;padding-right:5px;"> Earned</span>
                <span class="history-font">2000</span>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
            </li>
            <li>
                 <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order no</span>
                <span class="history-font">23455</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;">Order Date</span>
                <span class="history-font">Nov 05 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;"> Earned</span>
                <span class="history-font">500</span>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
            </li>
        </ul>
             </div>
    </div>
      <div id="collapsible" data-role="collapsible" data-animation="false">
        <h2 class="GreenMsg" >How To Redeem Points?</h2>
        
                 <div  class="container" align="center"  >
            <ul data-role="listview"  data-endless-scroll="false" >
        <li>
            Static Content
                </li>
        </ul>
             </div>
    </div>

      
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- END_CUSTOM_CODE_aboutView -->
</div>