<div data-role="view" data-title="Order Comfirmed" data-layout="Thanku" data-model="app.thankyou" data-show="app.thankyou.onShow" data-after-show="app.thankyou.afterShow">
    <!-- START_CUSTOM_CODE_thankyou -->
      <div style="padding-top:30px;">
            
        </div>
    <div style="width: 50%; margin: 0 auto;">
        

    <h2>
        Thank you for your order 
    </h2>
        <div style="padding-top:20px;">
            
        </div>
         <img src="images/check-37583_640.png" width='80%'  height='80%'></img>
      <div style="padding-top:20px;">
            
        </div>
    <h3 style="color:black;">
        your order number is:<b>201789</b>
    </h3>
       <div style="padding-top:20px;">
            
        </div>
   
  <a data-role="button" href="components/home/view.html"  data-icon="arrow-e">Continue Shopping</a>
    <!-- END_CUSTOM_CODE_thankyou -->
        </div>
</div>