<div data-role="view" data-title=" Refund Policy" data-layout="main-nonav" >
    <div class="textcontent padding">
      <span>  We offer a 100% no quibble money back guaranty. If you are not satisfied with any of our products that you have purchased from us, we will give you a 100% refund (excluding delivery charge and gift-wrapping where appropriate).</span>
        <div class="padding-20">
            
        </div>
        <span >
Returns for refund must be received back into the warehouse within 30 days from the date of purchase. When returning goods, please quote the - order number, your name, name of the product and the reason why you are returning the goods.
    </span>
    </div>
   
    <div class="padding-left-15">
        
   
    <div class="sitesection padding-20">

      
    <h2 class="expand-one"  id="expand1" onclick="slideContent(this.id)">How do the users tell you that they want to return the goods in the first place?</h2>
        
        <div class="content-one" ><p>The customers communicate to us on returns in by an email to support@himalayastore.com or by phone with a call to out toll free number 1-800-425-1930 / 1-800-208-1930.</p></div>
</div>
        <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand2" onclick="slideContent(this.id)">What if there's a delay in the post and it gets back to you after 30 days? </h2> 
     <div class="content-one" ><p> We issue a no quibble refund / replacement for products that are received back in our warehouse within 30 days. In case of shipments reaching us after 30 days due to unavoidable reasons like postal delays, we take it on a case-to-case basis to address the problem.</p>
</div>
        <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand3" onclick="slideContent(this.id)">Where is the warehouse users are supposed to post products to? </h2>
      <div class="content-one" ><p> The Himalaya Drug Company<br>
Makali <br>
Bangalore - 562 162<br>
India</p>
</div>
         <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand4" onclick="slideContent(this.id)">Do you refund users for postage expense of returning the goods or not? </h2>
     <div class="content-one" ><p>No. We do not refund users for postage expense of the returning the goods.</p></div>
</div>
         <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand5" onclick="slideContent(this.id)">What is our replacement guarantee? </h2>
     <div class="content-one" ><p>We offer a 100% no quibble money back guaranty. If you are not satisfied with any of our products that you have purchased from us, we will give you a 100% refund (excluding delivery charge and gift-wrapping where appropriate).<br><br>

Returns for refund must be received back into the warehouse within 30 days from the date of purchase. When returning goods, please quote the - order number, your name, name of the product and the reason why you are returning the goods.<br><br>

In a few cases, we ensure that pickup is arranged at the earliest and we ship the replacement as soon as we receive the item from our courier partner.
Replacement is subject to availability of stock with us. In case a replacement is not available, we will refund the amount for the same.</p>
</div>
         <div class="sitesection padding-20">
            <h2 class="expand-one"  id="expand6" onclick="slideContent(this.id)">What are returns not possible? </h2>
     <div class="content-one" ><p>

Returns are not possible in the following cases:<br>

  <ol type="1" style="padding-left: 30px;">
				<li style="padding-top: 5px;">Used products</li>
				<li style="padding-top: 5px;">Return request is made outside the specified time frame.</li>
				<li style="padding-top: 5px;">Products with tampered or missing serial numbers, including price tags &amp; labels. </li>
			</ol>

</p>
</div>
         <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand7" onclick="slideContent(this.id)">Can I return Part of My order? </h2>
     <div class="content-one" ><p>Yes, a return is possible at item level and if you have ordered multiple items, you can request a return for a partial quantity. But shipment charges of the same needs to be borne by customer. Returns must be received back into the warehouse within 30 days from the date of purchase. </p>
</div>
         <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand8" onclick="slideContent(this.id)">When are refunds provided? </h2>
      <div class="content-one" ><p>Refunds are provided only in cases of damage in transit or cannot provide replacement due to no stock availability. In case of returns, a refund is issued once the products are received at out warehouse. </p>
</div>
         <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand9" onclick="slideContent(this.id)">I have requested for replacement when will I get it? </h2>
     <div class="content-one" ><p>Replacement would be sent to customers when the products that need to be replaced are sent from the customers and they share the details of couriers with us. The replacement of parcels would reach the customers within 5-7 working days from the date of shipment. </p>
</div>
                 <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand10" onclick="slideContent(this.id)">Exchange </h2>
     <div class="content-one" ><p>Exchange of unused products that need communicated with 30 days and reaches our warehouse within 30 days from the date of shipment of the original order. Shipment charges of the same needs to be borne by customer. Customers need to share the details of couriers of products that they intend to exchange with us. The replacement of parcels from us would reach the customers within 5-7 working days from the date of shipment. </p>
</div>
         </div>
</div>


