<div data-role="view" data-title="FAQs" data-layout="main-nonav" >
     <div class="padding-left-15">
         
    <div class="sitesection padding-20">

      
    <h2 class="expand-one"  id="expand1" onclick="slideContent(this.id)">Where can I buy Himalaya products?</h2>
        
        <div class="content-one" ><p> In India, there are multiple outlets to buy Himalaya products such as modern trade centers, Himalaya exclusive stores, chemists and general stores in your city.<br>
To locate Himalaya exclusive stores in your city, please refer to: http://www.himalayawellness.com/store-locator.asp.<br><br>

We also have an online store that offers a convenient option of placing orders and receiving Himalaya products at your door step. You can order Himalaya products at: www.himalayastore.com.<br><br>

To locate Himalaya stores around the globe, please reference   <a href="components/storelocator/view.html" data-rel="external" data-role="button" class=" km-link-button" >Store Locator</a></p></div>
</div>
         
         
         
         
         
        <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand2" onclick="slideContent(this.id)">How do I track my order?</h2> 
     <div class="content-one" ><p> 

For orders shipped through Blue Dart, the delivery status can be checked online at http://www.bluedart.com by entering in the tracking number for your shipment. The tracking number is provided in your shipment confirmation email.<br><br>

For orders shipped through DTDC, the delivery status can be checked online at http://www.dtdc.in by entering in the tracking number for your shipment. The tracking number is provided in your shipment confirmation email.<br><br>
Orders placed after Friday at 10:00 AM will be processed for shipment on the following Monday.
</p>
</div>
         </div>
         
         
         
        <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand3" onclick="slideContent(this.id)">Where can I get information on Himalaya products? </h2>
      <div class="content-one" ><p> You can get detailed information on all Himalaya products on our official website: http://www.himalayawellness.com. You can also reach out to our customer care team at   <a href="mailto:customer.service@himalayawellness.com" data-rel="external" data-role="button" class=" km-link-button" >customer.service@himalayawellness.com</a>   or you can call us at      <a href="tel:18002081930" class=" km-link-button"  data-rel="external" data-role="button" > 1(800) 425- 1930 </a>from Monday – Friday between 9:00AM – 5:00PM.  </p>
</div>
         </div>
            
         
         
         
         <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand4" onclick="slideContent(this.id)">Where can I get information on ingredients used in Himalaya products?</h2>
     <div class="content-one" ><p>You can get detailed information on ingredients used in Himalaya products at our official website: http://www.himalayawellness.com. You can also reach out to our customer care team at <a href="mailto:customer.service@himalayawellness.com" data-rel="external" data-role="button" class=" km-link-button" >customer.service@himalayawellness.com</a>  or you can call us at <a href="tel:18002081930" class=" km-link-button"  data-rel="external" data-role="button" > 1(800) 425- 1930 </a>from Monday – Friday between 9:00AM – 5:00PM.  </p></div>
</div>
         
         
         
         
         
         
         <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand5" onclick="slideContent(this.id)">How does Himalaya ensure efficacy of its products? </h2>
     <div class="content-one" ><p>

Himalaya follows the principles of Good Manufacturing Practices (GMP) at our world-class manufacturing facility. This enables us to produce herbal products with uniform levels of batch-to-batch consistency and ensures that the customer receives the same high quality product regardless of where it is purchased. We strive to meet customer health needs through well-researched, effective and safe remedies.<br><br>

Himalaya follows WHO (World Health Organization) protocols for all herbal formulations, and conducts tests on pharmacognosy which is the identification of the botanical origin and purity of the herbs used in our products. We also perform tests using analytical chemistry to ensure the purity of the herbs we use in our products; we look at the viscosity and pH balance of herbs including the identification of active constituents and microbial content, in addition to the total viable count, and the presence of 
         fungus, yeast and mold.<br><br>

Scientific testing has been a hallmark at Himalaya since 1930 when we embarked on our journey to make quality herbal products. At Himalaya, we use modern science to rediscover and validate Ayurveda's secrets by employing cutting-edge research to create pharmaceutical-grade products.
</p>
</div>
         </div>
             
             
             
         <div class="sitesection padding-20">
            <h2 class="expand-one"  id="expand6" onclick="slideContent(this.id)">What safety measures do you follow in product development? </h2>
     <div class="content-one" ><p>

All our products are clinically tested for safety and efficacy and are completely free from side-effects when used in the dosage according to the instructions on the product pack.<br><br>

Each product undergoes extensive research for safety and efficacy and has to meet stringent regulatory requirements before being made available to the customer.


</p>
</div>
         </div>
         
         
         
         
         
         
         
         <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand7" onclick="slideContent(this.id)">Do Himalaya products have side effects?</h2>
     <div class="content-one" ><p>

All our products are clinically tested for safety and efficacy and are completely free from side-effects when used in the dosage according to the instructions on the product pack.
The pharmaceutical range products are best taken in consultation with your family physician.
Alternatively you can send in your health query to “ask the expert” for guidance on indications, dosage and use of products. Avoid self- medication.<br><br>

Each product undergoes extensive research for safety and efficacy and has to meet stringent regulatory requirements before being made available to the customer.
 </p>
</div>
         </div>
         
         
         
         
         
         
         
         <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand8" onclick="slideContent(this.id)">Does Himalaya use any animal products or by-products in their products?</h2>
      <div class="content-one" ><p>

Himalaya products are natural, safe and efficacious. Some of our products contain honey, bees wax, lanolin, milk and milk products that are of animal origin. But, these ingredients are obtained as by products without harming animals.<br><br>

However, our capsule dosage form products that are sold in India and certain other countries are made from industry standard, pharmaceutical-grade hard gelatin of bovine origin which is free from BSE risk.<br><br>

All other ingredients like proteins, glycerine and fatty alcohols used in our products are sourced from vegetables.
</p>
</div>
         </div>
         
         
         
         
         
         
         
         <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand9" onclick="slideContent(this.id)">Are your Toothpastes fluoridated and what is the source of the fluoride?</h2>
     <div class="content-one" ><p>Our Dental Cream and Complete Care toothpaste contains natural fluoride, sourced from minerals, as it renders therapeutic benefits.  </p>
</div>
         </div>
         
         
         
         
             
             
             
                 <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand10" onclick="slideContent(this.id)">Do any Himalaya products contain alcohol? </h2>
     <div class="content-one" ><p>PureHands Hand Sanitizer and Hairzone Solution are the only two Himalaya products that contain alcohol. These are external use products. </p>
</div>
         </div>
             
             
             
             
             

             
             
             
             
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand12" onclick="slideContent(this.id)">What is 'My Account'? </h2>
     <div class="content-one" ><p> 'My Account' provides you the following features:<br><br>

Manage/edit your personal data like address, phone numbers.<br>
Change your password<br>
Review your orders<br>
View / Redeem your points<br>
View Wishlist.</p>
</div>
         </div>
             
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand13" onclick="slideContent(this.id)">How do I know my order has been confirmed? </h2>
     <div class="content-one" ><p>

Once the payment confirmation is received, your order will be registered on our system and we will begin to process it.<br><br>

You will receive an email containing the details of your order and a confirmation of the same. In this mail you will be provided with a unique Order ID (eg. 124433), a listing of the item(s) you have ordered and the expected date of dispatch.<br><br>

You will also be notified when we ship the item(s) to you. Shipping details will be provided with the respective tracking number(s).<br><br>
</p>
</div>
         </div>
          
         
         
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand14" onclick="slideContent(this.id)">Can I order a product that is 'Out of Stock'?</h2>
     <div class="content-one" ><p>Unfortunately, products listed as 'Out of Stock' are not available for sale. Please use the 'Notify Me' feature to be informed of the product's availability. Once the product is re-stocked, you will be notified through an email. </p>
</div>
         </div>
             
          
         
         
         
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand15" onclick="slideContent(this.id)">How do I pay for a purchase?</h2>
     <div class="content-one" ><p>

We offer you multiple payment methods. Whatever your online mode of payment, you can be rest assured that our trusted payment gateway partners use secure encryption technology to keep your transaction details confidential at all times.<br><br>

You may use the below mentioned payment methods:<br>
- Debit Card / Net Banking / Cash Cards / Mobile Payment<br>
- MasterCard or Visa Credit Cards / Citibank Debit or ATM Card / Diners International<br><br>

Card<br>
- Wire / Bank / Fund Transfer<br>
- Demand Draft<br>
- Cash on Delivery

Payments are processed through BillDesk's secure website.
</p>
</div>
         </div>
          
         
         
         
         
         
         
         
         
             
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand16" onclick="slideContent(this.id)">What is Cash on Delivery? </h2>
     <div class="content-one" ><p>



If you are not comfortable making an online payment, you can opt for the Cash on Delivery (CoD) payment method instead. With CoD you can pay in cash at the time of actual delivery of the product at your doorstep, without requiring you to make any advance payment online.<br><br>

The maximum order value for a Cash on Delivery (CoD) payment is ?4,500. It is strictly a cash-only payment method. Gift Vouchers / eGift Cards cannot be used for CoD orders. Foreign currency cannot be used to make a CoD payment. Only Indian Rupees accepted. Dispatch of CoD orders will be delayed because it takes a longer time to process CoD orders.

</p>
</div>
         </div>
             
         
         
         
         
         
         
         
         
             
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand17" onclick="slideContent(this.id)">Is it safe to use my credit/debit card? </h2>
     <div class="content-one" ><p>

Your online transaction on with us is secure with the highest levels of transaction security currently available on the Internet by our trusted payment gateway partners using secure encryption technology to keep your transaction details confidential at all times. At himalayastore.com we do not collect/store your sensitive financial information on our server.<br><br>

Users are redirected to secure BillDesk Payment Gateway to provide their Credit Card / Debit Card / Net Banking details for the transaction. The security is handled by an independent third party (BillDesk) who certify that the information is correctly encrypted and secure. A window will appear on your browser notifying you when you enter and leave the secure environment. The address in your browser will also change from an "http://" address to an "https://" address along with a small padlock icon appearing in the bottom left-hand corner of your browser. Your security is our security. Upon processing a successful transaction, a confirmation email will be sent to the email address supplied with the details of your order.
         <br><br>

Please note we DO NOT collect/store credit card / debit card or any of your sensitive financial details on our server.
</p>
</div>
         </div>
           
         
         
         
         
         
         
         
             
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand18" onclick="slideContent(this.id)">What steps do you take to prevent card fraud? </h2>
     <div class="content-one" ><p>

We realize the importance of a strong fraud detection and resolution capability. We and our online payments partners monitor transactions continuously for suspicious activity and flag potentially fraudulent transactions for manual verification by our team.<br><br>

In the rarest of rare cases, when our team is unable to rule out the possibility of fraud categorically, the transaction is kept on hold, and the customer is requested to provide identity documents. The identity documents help us ensure that the purchases were indeed made by a genuine card holder. We apologise for any inconvenience that may be caused to customers and request them to bear with us in the larger interest of ensuring a safe and secure environment for online transactions.
</p>
</div>
         </div>
             
         
         
         
         
         
         
             
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand19" onclick="slideContent(this.id)">How do I place Cash on Delivery (CoD) order? </h2>
     <div class="content-one" ><p> All orders above ?499 are eligible for Cash on Delivery.<br><br>

Add the item(s) to your cart and proceed to checkout. When prompted to choose a payment option, select "Pay By Cash on Delivery" to complete the order.<br><br>

You will receive a confirmation call to validate your purchase. Upon confirmation, orders will be processed and dispatched. Once it is shipped, you will be notified by e-mail. You will be required to make a cash-only payment to our courier partner at the time of delivery of your order to complete the payment.<br><br>

Terms & Conditions:<br>
The maximum order value for CoD is ?4,500<br>
The minimum order value for CoD is ?499<br>
Gift Vouchers / eGift Cards cannot be used for CoD orders<br>
Cash-only payment at the time of delivery.</p>
</div>
         </div>
            
         
         
         
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand20" onclick="slideContent(this.id)">How do I check the current status of my orders? </h2>
     <div class="content-one" ><p>

You can review the status of your orders and other related information in the 'My Account' section<br><br>

Under "My Account" section, click on the "My Orders" link to view the status of all your orders. To view the status of a specific order, click on the 'Order Number' link.
</p>
</div>
         </div>
             
         
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand21" onclick="slideContent(this.id)">What does the different order status mean? </h2>
     <div class="content-one" ><p>

Order Confirmed: Your order state, once the payment is confirmed.<br><br>

Order Processed: Your order after confirmation state, would take 1 to 2 days for processing from our side.<br><br>

Order Shipped: Your order has been shipped by us and is on its way to the location specified by you for delivery.<br><br>

Order Cancelled: The order was cancelled.
</p>
</div>
         </div>
             
         
         
         
         
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand22" onclick="slideContent(this.id)">When and how can I cancel an order? </h2>
     <div class="content-one" ><p>You can cancel your order before it reaches the "Order Shipped" state. To cancel, please contact us with the order number.  </p>
</div>
         </div>
           
         
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand23" onclick="slideContent(this.id)">What are the delivery charges? </h2>
     <div class="content-one" ><p>We incur relatively higher shipping costs on low value items. In such cases, charging a nominal delivery charge helps us offset logistics costs. The delivery charge is waived off by us, if you shop with us for a minimum predefined value. </p>
</div>
         </div>
          
         
         
         
         
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand24" onclick="slideContent(this.id)">What is the estimated delivery time?</h2>
     <div class="content-one" ><p>

Estimated delivery time may take 2 to 6 working days. The delivery time estimates may vary slightly from State to State. Days are calculated as working days, excluding Saturdays, Sundays & Holidays. Orders placed after Fridays 10:00 AM will be processed for shipment only on the following Mondays.<br><br>

Estimated delivery time is dependent on the destination to which you want the order shipped to and our location (Bangalore).
</p>
</div>
         </div>
             
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand25" onclick="slideContent(this.id)">Why does the delivery date not correspond to the delivery timeline mentioned?</h2>
     <div class="content-one" ><p>It is possible that our courier partners have a holiday between your order date and the estimated delivery date based on the timelines shown on the product page. In this case, we add a day to the estimated date. Some courier partners do not work on Sundays and this is factored in to the delivery dates. </p>
</div>
         </div>
             
         
         
         
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand26" onclick="slideContent(this.id)">Do we deliver internationally?</h2>
     <div class="content-one" ><p>

We do not deliver items internationally.<br><br>

You will be able to make your purchases on our site only if the delivery address is in India, for which you have to register your email ID in the non-India page for access, after which you could place orders with us.
</p>
</div>
         </div>
             
         
         
         
         
         
         
         
         
         
              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand27" onclick="slideContent(this.id)">How does the delivery process work?</h2>
     <div class="content-one" ><p>

All deliveries are scheduled through reputed couriers. You will be informed when your consignment will be shipped and will also be provided a tracking number.<br><br>

During checkout you will be prompted to provide your location's pincode in order to ensure that it indeed is delivered to you.
</p>
</div>
         </div>
         
         
         
         
         
         
         
                 <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand28" onclick="slideContent(this.id)">How does the delivery process work?</h2>
     <div class="content-one" ><p>Products are shipped in packages by following standard packing procedure. </p>
</div>
         </div>
         
         
         
         
         
         
         
                 <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand29" onclick="slideContent(this.id)">How are items packaged?</h2>
     <div class="content-one" ><p>All consignments are delivered through reputed courier partners. You will be provided a Tracking ID for your order by the respective courier service provider. You may track information through their respective site for details.  </p>
</div>
         </div>
         
         
         
         
         
         
         
         
                 <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand30" onclick="slideContent(this.id)">How can I track the delivery of my order?</h2>
     <div class="content-one" ><p>

We offer a 100% no quibble money back guarantee. If you are not satisfied with any of our products that you have purchased from us, we will give you a 100% refund (excluding delivery charge and gift-wrapping where appropriate).<br><br>

Returns for refund must be received back into the warehouse within 30 days from the date of purchase. When returning goods, please quote the - order number, your name, name of the product and the reason why you are returning the goods.
</p>
</div>
         </div>
         
         
         
         
         
         
         
                 <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand31" onclick="slideContent(this.id)">What is your refund policy?</h2>
     <div class="content-one" ><p> 

We offer a 100% no quibble money back guarantee. If you are not satisfied with any of our products that you have purchased from us, we will give you a 100% refund (excluding delivery charge and gift-wrapping where appropriate).<br><br>

Returns for refund must be received back into the warehouse within 30 days from the date of purchase. When returning goods, please quote the - order number, your name, name of the product and the reason why you are returning the goods.
</p>
</div>
         </div>
         
         
         
         
         
         
                              <div class="sitesection padding-20">
    <h2 class="expand-one"  id="expand32" onclick="slideContent(this.id)">How do I contact Customer Care?</h2>
     <div class="content-one" ><p> You may use the below mentioned methods to contact Customer Care:<br><br>

Email Us on  <a href="mailto:support@himalayastore.com" data-rel="external" data-role="button" class=" km-link-button" >support@himalayastore.com</a>   <br>
Please allow upto 24 hours for a response and include your contact information so we may respond back to you.<br><br>

- Call Us (Toll Free):   <a href="tel:18002081930" data-rel="external" data-role="button" class=" km-link-button" >1-800-425-1930</a><br>
(Available between 0900 hrs IST to 1700 hrs IST, Monday to Friday)<br><br>

- Postal Address : The Himalaya Drug Company<br>
Makali<br>
Bangalore - 562 162<br>
India.</p>
</div>
         </div>
</div>
</div>