<div data-role="view" data-title="Pre bath and diapers" data-layout="Baby" data-model="app.prebath" data-show="app.prebath.onShow" data-after-show="app.prebath.afterShow">
    <!-- START_CUSTOM_CODE_prebath -->
    <!-- END_CUSTOM_CODE_prebath -->
    <ul data-role="listview" data-style="inset" data-template="prebathModelTemplate" data-bind="{ source: prebathModel.dataSource, events: {click: prebathModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="false" >
    </ul>
    <!-- START_CUSTOM_CODE_prebathModel -->
    <!-- END_CUSTOM_CODE_prebathModel -->
    <script type="text/x-kendo-template" id="prebathModelTemplate">
       <div  class="class100">
                 <div class="image-with-text left"  >
                 <div class="View-Row">
                                             <a  href="\#components/prebath/details.html?uid=${uid}"> 
                                                     <div class="View-Cell left"">
                                                      <img src="#: data['ImageUrl'] #" width="100%" >
                                                      </div>
                                                       <div class="View-Cell left" >
                                                       <h5 class="class100">#: data['ProductName'] #</h5>
                                                       <h6 class="Size-color">#: data['size'] #</h6>
                                                          <span class="product-price-display">&\#8377  &nbsp;</span>  <h6>#: data['Price'] #</h6>
                                                        </div>
                                                 </a>   
                                        				 <div class="View-Cell">
                                          						<div class="Right">
                                          							 <div class="Right">
                                                                            <a data-product="#: data['ProductName'] #" data-size="#: data['size'] #"  data-imageurl="#:
                                                                            data['ImageUrl'] #" data-id="#: data['Catalogid'] #"  data-role="button" class="left round-minus" data-click="removeFromCart"  data-title="test"  data-test="#: data['Test'] #" >
                                                                              
                                                                            </a>
                                                                            <div  data-init="init"   class = "padding-befor-productcount left" align="center">
                                                                                    0<i></i>
                                                                            </div>

                                                                                   <a  data-role="button" class="left round-plus"  data-product="#: data['ProductName'] #" data-size="#: data['size'] #"  data-imageurl="#: data['ImageUrl'] #" data-id="#: data['Catalogid'] #"  data-role="button" data-click="addToCart" data-title="test" 
                                                                                   data-test="#: data['Test'] #" >
                                                                                  
                                                                                    </a>
                                                                            </div>
                                           							</div>
                                                                     <div class="clear-after-product-count">
                                                                    </div>
                                                                   <div class = "padding-befor-wishlist">
                                                                        <a data-role = "button" data-icon="Wishlist-e" id=  "btn#: data['Catalogid'] #"  class= "wishlist-button" class="km-small" onclick="AddtowishList(this.id);"></a>
                                                                       
                                                                        </div>
                                           					</div>
                                            </div>
                      </div>
       </div>
        </div>
    </script>
</div>