<div data-role="view" data-title="Address" data-layout="Address" data-model="app.addNewAddress" data-show="app.addNewAddress.onShow" data-after-show="app.addNewAddress.afterShow">
    <div id="addNewAddressModel" class="form-view">
        <form>
            <ul class="form-ul"  data-style="inset" >
                 <li>
                    <div class="address-text-spacing">
                        
                    </div>
                </li>
                 <li>
                   <div class="authentication-textbox-div">
                   <select   data-role="dropdownlist">
                         	<option value="0" selected="selected">Select Saved Address</option>
		<option value="AN">Home</option>
		<option value="AP">Office</option>
	

                        </select>
                    </div>
                </li>
                 <li>
                    <div class="address-text-spacing">
                        
                    </div>
                </li>
                 <li>
                   <div class="authentication-textbox-div">
                   <select   data-role="dropdownlist">
                         	<option value="0" selected="selected">Select Title</option>
		<option value="1">Mr.</option>
		<option value="2">Mrs.</option>
                       <option value="3">Miss.</option>
                       <option value="4">Ms.</option>
                       <option value="5">Dr.</option>
	

                        </select>
                    </div>
                </li>
                 <li>
                    <div class="address-text-spacing">
                        
                    </div>
                </li>
                    <li>
<!--                     <span id="spanName" class="animated-placholder"  style="top:30px;" >Name</span> -->
                 <div class="authentication-textbox-div">
                        <input onkeypress="aniName();"  onkeyup = "upaniName(this.id);" id="inputName" class="Address-Text-box" data-bind="value: addNewAddressModel.fields.name" type="text" placeholder="Name">
                    </div>
                </li>
                 <li>
                    <div class="address-text-spacing">
                        
                    </div>
                </li>
                <li>
<!--                      <span id="spanAddEmail" class="animated-placholder" style="top:100px;">Email</span> -->
                   <div class="authentication-textbox-div">
                               <input id="inputAddEmail" onkeypress="aniAddEmail();"  onkeyup = "upaniAddEmail(this.id);"  class="Address-Text-box" data-bind="value: addNewAddressModel.fields.email" placeholder="example@example.com" 
                                      type="email">
                    </div>
                </li>
                <li>
                    <div class="address-text-spacing">
                        
                    </div>
                </li>
                <li>
<!--                      <span id="spanAddMobile" class="animated-placholder" style="top:180px;">Mobile</span> -->
                   <div class="authentication-textbox-div">
                               <input type="number" id="inputAddMobile" max="9999999999" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)"  maxlength = "10"  class="Address-Text-box"  placeholder="Mobile Number" >
                    </div>
                </li>
                                <li>
                    <div class="address-text-spacing">
                        
                    </div>
                </li>
                <li>
<!--                   <span id="spanAddress" class="animated-placholder" style="top:260px;">Address</span> -->
                   <div class="authentication-textbox-div">
                        <input onkeypress="aniAddress();"  onkeyup = "upaniAddress(this.id);" id="inputAddress" placeholder="Address" class="Address-Text-box"  data-bind="value: addNewAddressModel.fields.address" type="text">
                    </div>
                </li>
                 <li>
                    <div class="address-text-spacing">
                        
                    </div>
                </li>
                <li>
<!--                     <span id="spanCity" class="animated-placholder"  style="top:310px;">City</span> -->
                    <div class="authentication-textbox-div">
                        <input placeholder="City" onkeypress="aniCity();" class="Address-Text-box" onkeyup = "upaniCity(this.id);" id="inputCity" data-bind="value: addNewAddressModel.fields.city" type="text">
                    </div>
                </li>
                 <li>
                    <div class="address-text-spacing">
                        
                    </div>
                </li>
                <li>
                   <div class="authentication-textbox-div">
                   <select class="Address-Text-box"  data-role="dropdownlist">
                         	<option value="0" selected="selected">State / UT</option>
		<option value="AN">Andaman &amp; Nicobar Islands</option>
		<option value="AP">Andhra Pradesh</option>
		<option value="AR">Arunachal Pradesh</option>
		<option value="AS">Assam</option>
		<option value="BR">Bihar</option>
		<option value="CH">Chandigarh</option>
		<option value="CT">Chhattisgarh</option>
		<option value="DN">Dadra and Nagar Haveli</option>
		<option value="DD">Daman and Diu</option>
		<option value="DL">Delhi</option>
		<option value="GA">Goa</option>
		<option value="GJ">Gujarat</option>
		<option value="HR">Haryana</option>
		<option value="HP">Himachal Pradesh</option>
		<option value="JK">Jammu &amp; Kashmir</option>
		<option value="JH">Jharkhand</option>
		<option value="KA">Karnataka</option>
		<option value="KL">Kerala</option>
		<option value="LD">Lakshadweep</option>
		<option value="MP">Madhya Pradesh</option>
		<option value="MH">Maharashtra</option>
		<option value="MN">Manipur</option>
		<option value="ML">Meghalaya</option>
		<option value="MZ">Mizoram</option>
		<option value="NL">Nagaland</option>
		<option value="OR">Orissa</option>
		<option value="PY">Puducherry</option>
		<option value="PB">Punjab</option>
		<option value="RJ">Rajasthan</option>
		<option value="SK">Sikkim</option>
		<option value="TN">Tamil Nadu</option>
		<option value="TS">Telangana</option>
		<option value="TR">Tripura</option>
		<option value="UP">Uttar Pradesh</option>
		<option value="UL">Uttarakhand</option>
		<option value="WB">West Bengal</option>
                        </select>
                    </div>
                </li>
                 <li>
                  <div class="address-text-spacing">
                        
                    </div>
                </li>
                <li>
<!--                      <span id="spanPincode" class="animated-placholder" style="top:440px;">Pincode</span> -->
                 <div class="authentication-textbox-div">
                        <input class="Address-Text-box" max="999999" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)"  maxlength = "6" id="inputPincode" data-bind="value: addNewAddressModel.fields.pincode"   placeholder="Pincode" type="number">
                    </div>
                </li>
                
<!--                  <li>
                   <div class="address-text-spacing">
                        
                    </div>
                </li>
               
                 <li>
                        
                    </div>
                </li> -->
                    <div class="address-text-spacing">
            
            </ul>
 <ul data-role="listview" data-style="inset"  class="form-ul" >
      <li>
          
                              
                          <span class="Address-Text-box padding-left-15" >Save Address</span>   <input data-role="switch" id="email-switch"   data-bind="events: { change: onChange }">
        
                         </li>
    
     <li>
             <div class="authentication-textbox-div" id="addressLable-Div">
      <input class="Address-Text-box padding-left-20"  id="addressLable"  placeholder="Address Label" type="text">
         </div>
     </li>
     
            </ul>
            <div class="button-group">
                <a  class="Orange-button km-large class100"  href="components/Summary/view.html" data-role="button" >Continue</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_addNewAddressModel -->
        <!-- END_CUSTOM_CODE_addNewAddressModel -->
    </div>
    <!-- START_CUSTOM_CODE_addNewAddress -->
    <!-- END_CUSTOM_CODE_addNewAddress -->
</div>