<div data-role="view" data-title="My Cart" data-layout="main-nonav" data-model="app.cartDetails" data-show="app.cartDetails.onShow" data-after-show="app.cartDetails.afterShow">
    <!-- START_CUSTOM_CODE_cartDetails -->
    <!-- END_CUSTOM_CODE_cartDetails -->
    <ul data-role="listview" data-style="inset" data-template="cartDetailsModelTemplate" data-bind="{ source: cartDetailsModel.dataSource, events: {click: cartDetailsModel.itemClick}}" data-pull-to-refresh="false" data-endless-scroll="false" data-filterable="{field: 'ImageUrl', operator: 'contains'}">
    </ul>
    <!-- START_CUSTOM_CODE_cartDetailsModel -->
    <!-- END_CUSTOM_CODE_cartDetailsModel -->
    <script type="text/x-kendo-template" id="cartDetailsModelTemplate">
        <div class="image-with-text">
            <h3>#: data['ProductName'] #</h3>
            <p>#: data['Price'] #</p>
        </div>
    </script>
</div>

<!-- START_CUSTOM_CODE_dataListView -->

<!-- END_CUSTOM_CODE_dataListView -->
<!-- START_CUSTOM_CODE_dataListViewModel -->
<!-- END_CUSTOM_CODE_dataListViewModel -->