<div data-role="view" data-title="Childern's Health" data-model="app.childernHealth.childernHealthModel" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="header-outer">
              
                 <a data-role="backbutton" class="detail-back" data-align="left" data-icon="details" ></a>
                 <span class="Catagory-header-detail-title" data-align="left">Pharmaceuticals</span>
                    <span class="Catagory-Sub-header-detail-title" data-align="left" data-role="view-title"></span>
                <a data-role="button"  href="#appDrawer"  class="header-search-link"    data-align="right" >
                     
                    </a>
                  <a data-role="button" class="Right-drawer" data-rel="drawer" href="#rightdrawer"  data-icon="right-e" data-align="right" ></a> 
                </div>
        </div>
    </header>
  <div id="divOuter" class="outerdiv-details" >
        
 
<div>
    
  
    <h3 data-bind="text: currentItem.ProductName"></h3>
    <span class="tagline" data-bind="text: currentItem.tagline"></span>
  </div>
    <div >
        
  
    <img data-bind="attr: { src: currentItem.ImageUrlUrl }" width="100%" height="auto">
          </div>
       <div style="padding-left:20px;">
           <div>
               
         <span class="Price-Lable-details">Price:</span>
          <span class="Price-rupuee-details">
             &#8377;
           </span>  <span class="Price-details" data-bind="text: currentItem.Price"></span>  
               
      <br style="clear:both" />
               <div class="outer-incdec">
                   <div>
                       
                 
                                           								<a data-product="#: data['ProductName'] #" data-size="#: data['size'] #"  data-imageurl="#:
                                                                        data['ImageUrl'] #" data-id="#: data['Catalogid'] #"  data-role="button" class="left round" onclick="removecart(this);"  data-title="test"  data-test="#: data['Test'] #" >
                                          									<img src="images/User-Interface-Minus-icon.png">
                                          								</a>
                                          								<div  data-init="init"  class = "padding-befor-productcount left" >
                                           										0<i></i>
                                           								</div>
                                                                        
                                                                               <a  data-role="button" class="left round"   class="left round" onclick="addTo(this);"  >
                                                                               <img  src="images/User-Interface-Plus-icon.png">
                                                                                </a>
                                           								</div>
                  <div class = "padding-befor-wishlist">
                                                                        <a data-role = "button" data-icon="Wishlist-e" id=  "btnAddtoWishlist"  class= "wishlist-button" class="km-small"  onclick="AddtowishListDetails(this.id);"></a>
                                                                       
                                                                        </div>
       
                     </div>
               <div style="padding-top:20px;">
                   
               <span class="detail-size-lable">Size:</span>
           <span class="detail-size" data-bind="text: currentItem.size"></span>
            </div>
             </div>
           
        </div>
        <div class="details-desc-spacing"  >

           <h3 class="italic" >
            Description:
           </h3>  
            
            <span class="discription"  data-bind="html: currentItem.ProdDescription"></span>
        </div>
        
            <div style="padding:15px;"  >
                 
           <h3  class="italic" >
            Key ingredients:
           </h3>  
          
            <span  class="discription"  data-bind="html: currentItem.ingredients"></span>
        </div>
           </div>
    
    <!-- START_CUSTOM_CODE_dataListViewModel -->
          <footer data-role="footer">


            <div class="left footer-first-part" >


                <a href="components/cartDetails/view.html" id="btnCart" data-icon="cart" class="cart"  data-role="button" data-badge="0">

                </a>
            </div>
            <div class="left footer-second-part"  >

                <div >
                   <span >
               &#8377 680.00
            </span>
                </div>
            </div>
            <div   class="footer-third-part">
                <a data-role="button" href="components/authenticationView/view.html" class="km-primary checkout-button" >Check out</a>
            </div>
        </footer>
    <!-- END_CUSTOM_CODE_dataListViewModel ProdDescription-->
</div>