
.km-nova .km-header .km-navbar  .km-view-title{
/* text-transform: capitalize; */
  
   color:#fff;
    background-color:#f7f7f7;
    color:#666!important;
}

.payment-option {
   margin-left:-20px;
    padding-right:20px;
}

.payment-option li{
    padding-top:20px;
        padding-bottom:40px;
  
     list-style-type:none;
}


.payment-option li >div{
    padding-right:20px;
}
.payment-option li input[type=radio]{
transform: scale(2, 2); 
-moz-transform:scale(2, 2); 
-ms-transform: scale(2, 2); 
-webkit-transform: scale(2, 2); 
-o-transform: scale(2, 2); 
    
}
.largebutton{
    width:100%;
   margin-left:-10px;
}

.km-nova .km-tabstrip .km-button 
{
     background-color:#006C6F;
    width:100%;
   
}


.km-locator-e:after,
  .km-locator-e:before
    {
        content: "\e0b4";
         color:#ff6600;
    }


.km-notification-e:after,
  .km-notification-e:before
    {
        content: "\e0c2";
         color:#ff6600;
    }

.km-support-e:after,
  .km-support-e:before
    {
          content: "\e319";
         color:#ff6600;
        background:#ff6600;
    }




.km-shipping-e:after,
  .km-shipping-e:before
    {
         content: "\e07a";
         color:#ff6600;

    }


.km-policy-e:after,
  .km-policy-e:before
    {
         content: "\e0b2";
          color:#ff6600;

    }


 .km-delete-e:after,
    .km-delete-e:before
    {
        content: "\e221";
        color:red;
        border:1px solid #ededed;
        padding:10px;
    }


#kendoUiMobileApp  .animated-placholder
{color:#006C6F;position:absolute;display:none;}

#kendoUiMobileApp  .checkout-title{
color:#006C6F;position:absolute;top:30px;display:none;"
}



.payment-width{
   width:80%;
}
#kendoUiMobileApp .Gray-button
{background-color:#f7f7f7;color:#666;}

#kendoUiMobileApp .Green-button
{background-color:#00A287;color:white;}
#kendoUiMobileApp .Orange-button
{background-color:#FF6600;color:white;}
#kendoUiMobileApp  .authentication-textbox-div
{width:104%; border-bottom:1px solid #006C6F;height:50px;margin-left:-30px;}

#kendoUiMobileApp  .authentication-text-spacing
{padding-top:30px;}
#kendoUiMobileApp  .address-text-spacing
{padding-top:20px;}

#kendoUiMobileApp  .authentication-textbox-div input
{border:none;width:100%;height:45px;font-size:20px;}

#kendoUiMobileApp  .button-summary-white
{background-color:white}
#kendoUiMobileApp  .summary-text
{
border:none;width:80%;height:45px;font-size:20px;padding-left:5px;padding-bottom:10px;
    border-bottom:1px solid #006C6F;
}


#kendoUiMobileApp  .authentication-textbox-div select
{padding-top:10px;border:none;width:100%;height:45px;font-size:20px;}
#kendoUiMobileApp  .authentication-textbox-div #inputRegConf
{padding-top:10px;padding-left:10px;border:none;width:100%;height:45px;font-size:20px;text-security: disc;
    -moz-text-security: disc;-webkit-text-security: disc;}
.outer-incdec{
float:right;margin-top:-30px;padding-right:15px;
}
 .outerdiv-details > div{margin: auto;width: 100%;padding-bottom:10px;padding-left:10px;
}

#kendoUiMobileApp   .Price-Lable-details
{float:left;padding-top:10px;padding-right:10px;font-style:italic}


#kendoUiMobileApp .Price-rupuee-details
{float:left;font-weight:bold;padding-top:10px;padding-right:5px;}

#kendoUiMobileApp .Price-details
{float:left;font-weight:bold;padding-top:10px;}

#kendoUiMobileApp .km-view .divOuter-details div{
    margin: auto;
    width: 100%;
    padding-bottom:10px;
    padding-left:10px;
}


.km-redeem-e:after,
    .km-redeem-e:before
    {
        content: "\e0c4";
    }

.km-gift-e:after,
    .km-gift-e:before
    {
        content: "\e20b";
    }


#kendoUiMobileApp .Detail-outer-incDec
{float:right;margin-top:-30px;padding-right:15px;}





#kendoUiMobileApp .header-outer{
display:inline-block;width:100%;
}



#kendoUiMobileApp .Green-Circle
{border-radius: 50%;width: 15px;height: 15px;border:1px solid green; background-color:green;}



#kendoUiMobileApp .header-outer-checkout-flow
{
    margin-left:50px;margin-top:10px; position:absolute;display: inline-block;white-space:nowrap;font-size:20px;
    color:#00A287;
}


#kendoUiMobileApp .Gray-Circle 
{
    border-radius: 50%;width: 15px;height: 15px;border:1px solid #ecf0f1; background-color:#ecf0f1;
}
#kendoUiMobileApp .circle-next-div
{
    padding-left:5px;
}
#kendoUiMobileApp .GreenMsg
{color:green}




.km-nova .km-link-button {
    color: #00acc1;
    border-color: transparent;
   width:100%;text-align:left;
}




#kendoUiMobileApp .Right
{
    float:right;
}

#kendoUiMobileApp .padding-befor-productcount{
    padding-right:7px;padding-left:7px;padding-top:12px;width:30px;
}


#kendoUiMobileApp .clear-after-product-count
{
    clear: both; float: left; display: block; position: relative;
}

#kendoUiMobileApp .discription
{text-align:justif;}

#kendoUiMobileApp .product-price-display
{
    font-size:13px;float:left;color:black;
}

#kendoUiMobileApp  .details-desc-spacing
{padding-top:25px;padding-left:15px;padding-right:15px;}

#kendoUiMobileApp  .italic
{font-style:italic}
#kendoUiMobileApp .Size-color
{
    color:#a8a8a8;
    font-size:13px;
}
#kendoUiMobileApp .price-color
{
    color:#000;
    font-size:13px;
}
#kendoUiMobileApp  .wishlist-button
{font-size:35px;border:none;padding:0px;color:#ecf0f1;}

#kendoUiMobileApp .padding-befor-wishlist
{float:right;min-height:30px;padding-right:40px;padding-top:10px;}

#kendoUiMobileApp .detail-size
{width:100%;color:#a8a8a8;font-weight:bold}
#kendoUiMobileApp .detail-size-lable
{width:100%;color:#a8a8a8;font-style:italic}


#kendoUiMobileApp .footer-first-part{
   width:10%; 
    color:#666;background-color:#f7f7f7;
}

#kendoUiMobileApp .Cart-top
{color:green;margin-right:10px;margin-top:5px;}
#kendoUiMobileApp .cart
{
    color:#FFF;background-color:#006C6F;font-size:20px;padding:5px 0px 0px 5px;border:none;color:#666;background-color:#f7f7f7;
}

#kendoUiMobileApp .footer-second-part{
    width:24%;height:auto;
  
    
}

#kendoUiMobileApp .footer-second-part div{
margin: 0 auto;width:32%;margin-top:10px;

}


#kendoUiMobileApp .footer-second-part div span{
    display:inline block;white-space: nowrap;font-weight:bold;font-size:20px;
}

#kendoUiMobileApp .footer-third-part{
   width:60%;height: auto;float:right;

}

#kendoUiMobileApp .checkout-button{
    background-color:#00A287;color:#fff;float:right;width:83%;margin-top:0px;border: none;border-radius: 0;
    height:50px;font-size:20px;
}

#rightdrawer .km-vertical-tabstrip{
    background:#FFF;
}
#rightdrawer .km-vertical-tabstrip .km-button{
    background:#BDC9BB;
    color:#fff;
}

#rightdrawer .km-vertical-tabstrip .km-button .km-state-active{
    background:#FFF;
}

.km-nova .km-footer  {
    background: #006C6F;
    padding:0px;
}





.km-nova .km-view .km-listview{
    
}

.km-nova .km-view .km-header .km-navbar{
    color:#FF6600;
   
}



 .km-login-e:after,
    .km-login-e:before
    {
        content: "\e0b1";
    }

 .km-Wishlist-e:after,
    .km-Wishlist-e:before
    {
        content: "\e044";
    }


.km-flat .km-view .km-content {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button {
  background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button.km-state-active {
   background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button .km-text {
    color: rgb(255, 255, 255);
}
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link {
     background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-content .km-list > li {
    background-color: rgb(255, 255, 255);
     border:1px solid #FFF;
    border-bottom:1px solid #ccc;
}
.km-flat .km-view .km-content {
    padding:0;
}
.km-flat .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(255, 102, 0);
}
.km-flat .km-view .km-content .km-button.km-state-active {
    background-color: rgb(255, 102, 0);
}

.km-flat .km-view .km-content .km-button {
    background-color: rgb(255, 255, 255);
     padding: 0;

    margin: 0;
}
.km-flat .km-view  {
    background-color: #FF9819;
}
 .km-right-e:after,
    .km-right-e:before
    {
        content: "\e316";
    }

::-webkit-input-placeholder { color:#7f8c8d;font-size:20px; }
::-moz-placeholder { color:#7f8c8d;font-size:20px; } /* firefox 19+ */
:-ms-input-placeholder { color:#7f8c8d;font-size:20px; } /* ie */
input:-moz-placeholder { color:#7f8c8d;font-size:20px; }


#kendoUiMobileApp .inactive{
      pointer-events: none;
   cursor: default;
    font-size:12px;
   width:50%;
}
#kendoUiMobileApp .startLink{
border-bottom:5px solid #F7F7F7;
}

#kendoUiMobileApp .history-font{
    font-size:15px;
}
#kendoUiMobileApp .rupee:after,
#kendoUiMobileApp .rupee:before
{

}
#kendoUiMobileApp .redeem-title{
    color:#006C6F;
    font-size:30px;
    display:block;
}
#kendoUiMobileApp .redeem-point-display{
    font-size:20px;
    display:block;
    font-weight:bold;
}
}
#kendoUiMobileApp .one-third-order-hisrory{
    padding-left:10px;
    width:33%;
    margin:auto;
    display:block;
    white-space:nowrap;
}
#kendoUiMobileApp .order-History-outerDiv
{
    width:100%;
   
}

#kendoUiMobileApp .ruler{
    display:block;
    width:100%;
      border-bottom:1px solid #bdc3c7;
}

#kendoUiMobileApp .left-status-left{
    width:100%;
    height:10px;
  border-top-left-radius: 2em;
 border-bottom-left-radius: 2em;
 
    
}
#kendoUiMobileApp .green
{
    background-color:green;
}

#kendoUiMobileApp .gray
{
    background-color:#bdc3c7;
}
#kendoUiMobileApp .left-status-middle{
   
       
   height:10px;
    width:100%;
  
   
   
}




.container {
    display: table;
         width:100%;
    }

  .row  {
    display: table-row;
      width:100%;
    }

  .leftcell, .rightcell, .middlecell {
    display: table-cell;
 border-right:1px solid #FFF;
      white-space:nowrap;
    }


#kendoUiMobileApp .space:empty::after {
    content: ".";
    visibility: hidden;
}
#kendoUiMobileApp .left-status-Right{
     height:10px;
    width:100%;
   
     border-top-right-radius: 2em;
 border-bottom-right-radius: 2em;
    
}

#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendoUiMobileApp .form-ul
{list-style-type: none;margin-left:.3em;}

#kendoUiMobileApp .Address-Text-box
{padding-top:10px;padding-left:10px;border:none;width:100%;height:45px;font-size:20px;}

#kendoUiMobileApp .signin-view{width:100%;}

#kendoUiMobileApp .button-group {
    table-layout: fixed;
}

#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: 1.5em 1.5em;
    margin: 1em 0;
    
}

#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    color: #fff;
    background-color: #10c4b2;
}

#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}

#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}

#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}

#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}

#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}


.km-nova .km-drawer{
    width:90%;
    border:none;
      background-color:#FFF;
}

.km-nova .km-drawer .km-content {
    background-color:#FFF;
}

.km-nova .km-drawer .km-content{
color:black;
   border:none; 
   
}


#kendoUiMobileApp .km-left-drawer .km-content{
    
}

#right-navigation {
  list-style-type:none;  
    background-color:#FFF;
}


.km-nova{
  
}


#kendoUiMobileApp #left-bottomul{
    list-style-type:none;  
    background-color:#FFF;
   
}

.hline{
    background-color:#f1f1f1;height:1px;width:100%;
}


#kendoUiMobileApp #left-bottomul li a{
    color:#000;
}

#kendoUiMobileApp #left-bottomul li{
   padding-top:15px;
     color:#000;
}

#kendoUiMobileApp .navagation {
  background-color:#f7f7f7;  
    position: relative; 
    vertical-align:top;
    color:#666;
   
}

#right-navigation li {
    padding-top:30px;
    
}

#navigation-container{
    list-style-type:none;
   
    
}

.km-nova .km-drawer .km-content  #navigation-container li {
    
border:none;

  font-family: "Times New Roman",'Lucida Sans Unicode','Lucida Grande',"sans-serif" ; 
   color:#666;
    background-color:#f7f7f7; 
     text-transform: uppercase;
    
}
.km-nova .km-drawer .km-content  #navigation-container li a {
 font-family: "Open Sans",'Lucida Sans Unicode','Lucida Grande',"sans-serif" ;
    color:#666;
}




.km-nova .km-drawer .km-content .km-listview li .km-button {
    background-color:#FF6600;
 background-color:#00A287;
    color:#fff;
   
    
}


.km-nova .km-drawer .km-content .km-listview-link:after {
     background-color:#00A287;
    display: none;
    color:#fff;
}



.km-nova .km-drawer .km-content .km-listview {
     background-color:#FF6600;
    border:none;
}
.km-nova .km-drawer .km-listview li.km-state-active {
     background-color:#FF6600;
    background-color:#00A287;
    color:#fff;
  border:none;
}
.km-nova .km-drawer,
[data-role=view-title] {
  
   border:none;
                                          
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}

#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}

#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}

#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}

#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}

#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}


/* START_CUSTOM_CODE_kendoUiMobileApp */
#kendoUiMobileApp .image-home img {


   
}




#kendoUiMobileApp .View-Cell
{
    display: table-cell;vertical-align:top;width:40%;
}
#kendoUiMobileApp .View-Cell-title
{
    display: table-cell;vertical-align:top;width:60%;
}

#kendoUiMobileApp .View-Row
{
    display: table-row;
}


#kendoUiMobileApp .home-button{
border:none;
    margin:0;
    padding:0;
}
#kendoUiMobileApp .image-with-text {
    display: table;width:100%; 
}

#kendoUiMobileApp .image-with-text img {
  
 

}
#kendoUiMobileApp  .home-image-a{
 border:1px solid #f7f7f7;
width:50%;
   
 float:left;
}
.km-play-e:after,
.km-play-e:before{
      content: "\e013"; 
   
}

.km-up-e:after,
.km-up-e:before{
      content: "\e011"; 
    font-weight:bold;
    font-size:20px;
   
}


.km-down-e:after,
.km-down-e:before{
      content: "\e012"; 
   
}

#kendoUiMobileApp  .Cart-back{
 -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);

    color:#696969;
     
}





/* END_CUSTOM_CODE_kendoUiMobileApp */


/*Fix navigation labels*/

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}

#kendoUiMobileApp #navigation-container  {
    background: #FFF;
    color: #000;
}

#kendoUiMobileApp #navigation-container .active {
    background: #FFF;
    color: #000;
 
}
#kendoUiMobileApp .km-listview-link  {
    color: #000
}

#kendoUiMobileApp  .km-icon .km-home{
color:#000;
}

#kendoUiMobileApp #navigation-container .active:after {
    color: #000;
}


    .km-arrow-e:after,
    .km-arrow-e:before
    {
        content: "\e013";
    }

#kendoUiMobileApp .tb10 {
	background-image:url(images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 80%;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}

.km-nova .km-footer, .km-nova .km-header .km-title{
    background-color:#f7f7f7!important;
    color:#666666!important;
}


/* customized class start */


#kendoUiMobileApp .Green-bg
{
     background-color:#00A287!important;
    color:#fff!important;
}


#kendoUiMobileApp .orange-bg
{
     background-color:#FF6600!important;
    color:#fff!important;
}


#kendoUiMobileApp .Gray-bg
{
      color:#666!important;
 background-color:#F7F7F7!important;
}



#kendoUiMobileApp .Main-Title
{
    margin-left:50px;margin-top:10px; position:absolute;display: inline-block;white-space:nowrap;font-size:20px;
    color:#00A287;  text-transform: uppercase;
}





/* catagory scroll */
.km-nova .km-header .km-tabstrip .km-button{
  width:100%;
   
    white-space:nowrap;
    border-radius:0px;
     background-color:#00A287!important;
    background-image: none;
    background-image: none;
    background-image: none;
   
    border:none;
    border-radius:none;
    color: #F7F7F7!important;
    height:70px;
  
      text-transform: uppercase;
   
   
}

/* catagory scroll */
.km-nova .km-header .km-tabstrip .km-text
{
   color:#F7F7F7!important;
   
    font-size: 16px;
    padding-right:20px;
}


.km-nova .km-header .km-tabstrip .km-button.km-state-active  {
 
     
 
 
    background-image: none;
    background-image: none;
    background-image: none;
    border-bottom:5px solid #F7F7F7;
}



.km-nova .km-header .km-navbar
{
     
      width:100%;
   
}

#kendoUiMobileApp .class50
{width:50%;}
#kendoUiMobileApp .class100
{width:100%;}

#kendoUiMobileApp .class200
{width:200%;}
#kendoUiMobileApp .class150
{width:150%;}
#kendoUiMobileApp .class240
{width:240%;}

#kendoUiMobileApp  .Caragory-heading-detail
{
font-size:100%;display: inline-block;white-space:nowrap;color:#00A287!important;
}
#kendoUiMobileApp  .tagline{
    color: #aeaeae;
    display: block;
    font-style: italic;
    font-size:12px;
    
}

#kendoUiMobileApp .containerdivNewLine { clear: both; float: left; display: block; position: relative; } 
#kendoUiMobileApp h5 {color:#FF6600;width:220px;}
#kendoUiMobileApp h2{color:#FF6600;}
#kendoUiMobileApp h3{color:#FF6600;}
#kendoUiMobileApp .left{float:left;vertical-align: middle;}
#kendoUiMobileApp .round{border-radius:50%;border:1px solid #666;width:2.26em;height:2.26em;vertical-align:middle;
  background-image: url('../images/User-Interface-Minus-icon.png');
    background-repeat: no-repeat;
   
    background-position: center center; 
}
#kendoUiMobileApp .round-minus{border-radius:50%;border:1px solid #666;width:2.26em;height:2.26em;vertical-align:middle;
  background-image: url('../images/User-Interface-Minus-icon.png');
    background-repeat: no-repeat;
   
    background-position: center center; 
}
#kendoUiMobileApp .round-plus{border-radius:50%;border:1px solid #666;width:2.26em;height:2.26em;vertical-align:middle;
  background-image: url('../images/User-Interface-Plus-icon.png');
    background-repeat: no-repeat;
   
    background-position: center center; 
      }
#kendoUiMobileApp .round:active{border:1px solid red;}
#kendoUiMobileApp .home_tile{width:100%;height:100%;}

.km-nova .km-navbar .km-button {
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0 0.5em!important;
    height: 100%;
    line-height: 2.27em!important;
}

#kendoUiMobileApp .Left-drawer{
color:#696969;
    font-size:20px;
}
#kendoUiMobileApp .Right-drawer{
color:#696969;
        font-size:20px;
}

#kendoUiMobileApp  .detail-back{
 -ms-transform: rotate(1809deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
font-size:20px;
    color:#696969;
     border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0 0.5em!important;
    height: 100%;
    line-height: 2.27em!important;
     
}


#kendoUiMobileApp  .header-outer .km-back {
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0 0.5em!important;
    height: 100%;
    line-height: 2.27em!important;
}


#kendoUiMobileApp .Catagory-title{
margin-left:50px;margin-top:15px; position:absolute;

    display: inline-block;white-space:nowrap;font-size:15px;color:#00A287!important;
      text-transform: uppercase;
}
#kendoUiMobileApp .header-search-link{
color:#696969;
   font-weight:bold;
    font-size:20px;
    
 
}

#kendoUiMobileApp .Catagory-header-title{
    margin-left:50px;margin-top:5px; position:absolute;font-size:100%;
    display: inline-block;white-space:nowrap;font-size:15px;color:#00A287!important;
      text-transform: uppercase;
}

#kendoUiMobileApp .Catagory-Sub-header-title{
margin-left:50px;margin-top:27px;
position:absolute;font-size:100%;
display: inline-block;white-space:nowrap;font-size:12px; color:#666!important;
      text-transform: uppercase;
}



#kendoUiMobileApp .Catagory-header-detail-title{
    margin-left:0px;margin-top:5px; position:absolute;font-size:100%;
    display: inline-block;white-space:nowrap;font-size:15px;color:#00A287!important;
      text-transform: uppercase;
}

#kendoUiMobileApp .Catagory-Sub-header-detail-title{
margin-left:0px;margin-top:27px;
position:absolute;font-size:100%;
display: inline-block;white-space:nowrap;font-size:12px; color:#666!important;
      text-transform: uppercase;
}


.km-nova  .km-details:after {
    content: "\e217";
    top: 3px;
}

/* customized class End */
