


.km-nova .km-header .km-navbar  .km-view-title{
    background-color: rgb(255, 255, 255);

}

.payment-option {
   margin-left:-20px;
}

.payment-option li{
    padding-top:20px;
        padding-bottom:20px;
  
     list-style-type:none;
}


.payment-option li >div{
    padding-right:20px;
}
.payment-option li input[type=radio]{
transform: scale(2, 2); 
-moz-transform:scale(2, 2); 
-ms-transform: scale(2, 2); 
-webkit-transform: scale(2, 2); 
-o-transform: scale(2, 2); 
    
}
.largebutton{
    width:100%;
   margin-left:-10px;
}

.km-nova .km-tabstrip .km-button
{
     background-color:#006C6F;
   
}

#kendoUiMobileApp .header-outer{
display:inline-block;width:100%;
}


#kendoUiMobileApp .Catagory-header-title{
    margin-left:50px;margin-top:5px; position:absolute;font-size:100%;
    display: inline-block;white-space:nowrap;font-size:15px;
}

#kendoUiMobileApp .Catagory-Sub-header-title{
margin-left:50px;margin-top:27px;
position:absolute;font-size:100%;
display: inline-block;white-space:nowrap;font-size:12px;color:#696969;
}
#kendoUiMobileApp .Catagory-title{
margin-left:50px;margin-top:15px; position:absolute;font-size:100%;display: inline-block;white-space:nowrap;
}
#kendoUiMobileApp .header-search-link{
background-image:url('../images/search.png');
background-color:#FFF;background-size: 100% 100%;
background-repeat: no-repeat;width:100px;height:27px;border:none;" 
}

#kendoUiMobileApp .Left-drawer{
color:#696969;
}
#kendoUiMobileApp .Right-drawer{
color:#696969;
}

#kendoUiMobileApp .footer-first-part{
   width:10%; 
}


#kendoUiMobileApp .footer-second-part{
    width:20%;height:auto;
}

#kendoUiMobileApp .footer-second-part div{
color:#fff;margin: 0 auto;width:32%;margin-top:10px;
}


#kendoUiMobileApp .footer-second-part div span{
    display:inline block;white-space: nowrap;font-weight:bold;
}

#kendoUiMobileApp .footer-third-part{
   width:60%;height: auto;float:right
}

#kendoUiMobileApp .checkout-button{
    background-color:#FF6600;color:#fff;float:right;width:83%;margin-top:0px;border: none;border-radius: 0;
}

#rightdrawer .km-vertical-tabstrip{
    background:#FFF
}
#rightdrawer .km-vertical-tabstrip .km-button{
    background:#7f8c8d;
    color:#fff;
}

#rightdrawer .km-vertical-tabstrip .km-button .km-state-active{
    background:#000;
}
.km-nova .km-footer  {
    background: #006C6F;
    padding:0px;
}



.km-nova .km-header .km-tabstrip .km-button{
   width:100%;
    white-space:nowrap;
    border-radius:0px;
    background-color:#006C6F;
    background-image: none;
    background-image: none;
    background-image: none;
    font-size:20px;
    border:none;
    border-radius:none;
}

.km-nova .km-header .km-tabstrip {
    
  
    background-color:#006C6F;
    background-image: none;
    background-image: none;
    background-image: none;
}
.km-nova .km-header .km-tabstrip .km-button.km-state-active  {
 
   
   
    background-color:#006C6F;
    background-image: none;
    background-image: none;
    background-image: none;
    border-bottom:5px solid #FF6600;
}



.km-nova .km-header .km-navbar
{
      color:#FF6600;
   
}

.km-nova .km-view .km-listview{
    
}

.km-nova .km-view .km-header .km-navbar{
    color:#FF6600;
   
}

 .km-Wishlist-e:after,
    .km-Wishlist-e:before
    {
        content: "\e044";
    }


.km-flat .km-view .km-content {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button {
  background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button.km-state-active {
   background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button .km-text {
    color: rgb(255, 255, 255);
}
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link {
     background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-content .km-list > li {
    background-color: rgb(255, 255, 255);
     border:1px solid #FFF;
    border-bottom:1px solid #ccc;
}
.km-flat .km-view .km-content {
    padding:0;
}
.km-flat .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(255, 102, 0);
}
.km-flat .km-view .km-content .km-button.km-state-active {
    background-color: rgb(255, 102, 0);
}

.km-flat .km-view .km-content .km-button {
    background-color: rgb(255, 255, 255);
     padding: 0;

    margin: 0;
}
.km-flat .km-view  {
    background-color: #FF9819;
}
 .km-right-e:after,
    .km-right-e:before
    {
        content: "\e316";
    }

::-webkit-input-placeholder { color:#7f8c8d;font-size:20px; }
::-moz-placeholder { color:#7f8c8d;font-size:20px; } /* firefox 19+ */
:-ms-input-placeholder { color:#7f8c8d;font-size:20px; } /* ie */
input:-moz-placeholder { color:#7f8c8d;font-size:20px; }


#kendoUiMobileApp .inactive{
      pointer-events: none;
   cursor: default;
    font-size:12px;
   width:50%;
}
#kendoUiMobileApp .startLink{
border-bottom:5px solid #FF6600;
}

#kendoUiMobileApp .history-font{
    font-size:15px;
}
#kendoUiMobileApp .rupee:after,
#kendoUiMobileApp .rupee:before
{

}
#kendoUiMobileApp .redeem-title{
    color:#006C6F;
    font-size:30px;
    display:block;
}
#kendoUiMobileApp .redeem-point-display{
    font-size:20px;
    display:block;
    font-weight:bold;
}
}
#kendoUiMobileApp .one-third-order-hisrory{
    padding-left:10px;
    width:33%;
    margin:auto;
    display:block;
    white-space:nowrap;
}
#kendoUiMobileApp .order-History-outerDiv
{
    width:100%;
   
}

#kendoUiMobileApp .ruler{
    display:block;
    width:100%;
      border-bottom:1px solid #bdc3c7;
}

#kendoUiMobileApp .left-status-left{
    width:100%;
    height:10px;
  border-top-left-radius: 2em;
 border-bottom-left-radius: 2em;
 
    
}
#kendoUiMobileApp .green
{
    background-color:green;
}

#kendoUiMobileApp .gray
{
    background-color:#bdc3c7;
}
#kendoUiMobileApp .left-status-middle{
   
       
   height:10px;
    width:100%;
  
   
   
}




.container {
    display: table;
         width:100%;
    }

  .row  {
    display: table-row;
      width:100%;
    }

  .leftcell, .rightcell, .middlecell {
    display: table-cell;
 border-right:1px solid #FFF;
      white-space:nowrap;
    }


#kendoUiMobileApp .space:empty::after {
    content: ".";
    visibility: hidden;
}
#kendoUiMobileApp .left-status-Right{
     height:10px;
    width:100%;
   
     border-top-right-radius: 2em;
 border-bottom-right-radius: 2em;
    
}

#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendoUiMobileApp .button-group {
    table-layout: fixed;
}

#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}

#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    color: #fff;
    background-color: #10c4b2;
}

#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}

#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}

#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}

#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}

#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}

.km-nova .km-drawer .km-content{
color:black;
}

.km-nova .km-drawer .km-content .km-listview li {
    background-color:#bdc3c7;
border:none;
color:black;
    
}

.km-nova .km-drawer .km-content .km-listview-link:after {
     background-color:#bdc3c7;
    display: none
}



.km-nova .km-drawer .km-content .km-listview {
     background-color:#bdc3c7;
    border:none;
}
.km-nova .km-drawer .km-listview li.km-state-active {
     background-color:#bdc3c7;
  border:none;
}
.km-nova .km-drawer,
[data-role=view-title] {
  
   
                                          
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}

#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}

#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}

#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}

#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}

#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}


/* START_CUSTOM_CODE_kendoUiMobileApp */
#kendoUiMobileApp .image-home img {


   
}

#kendoUiMobileApp .home-button{
border:none;
    margin:0;
    padding:0;
}

#kendoUiMobileApp .image-with-text img {
  
 

}
#kendoUiMobileApp  .home-image-a{
 border:1px solid #FF6600;
width:50%;
   
 float:left;
}
.km-play-e:after,
.km-play-e:before{
      content: "\e013"; 
   
}

.km-up-e:after,
.km-up-e:before{
      content: "\e011"; 
    font-weight:bold;
    font-size:20px;
   
}


.km-down-e:after,
.km-down-e:before{
      content: "\e012"; 
   
}

#kendoUiMobileApp  .Cart-back{
 -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);

    color:#696969;
     
}

#kendoUiMobileApp  .detail-back{
 -ms-transform: rotate(1809deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);

    color:#696969;
     
}

#kendoUiMobileApp  .tagline{
    color: #aeaeae;
    display: block;
    font-style: italic;
    font-size:12px;
    
}

/* END_CUSTOM_CODE_kendoUiMobileApp */


/*Fix navigation labels*/

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}

#kendoUiMobileApp #navigation-container  {
    background: #7f8c8d;
    color: #000;
}

#kendoUiMobileApp #navigation-container .active {
    background: #7f8c8d;
    color: #000;
}
#kendoUiMobileApp .km-listview-link  {
    color: #000

}

#kendoUiMobileApp  .km-icon .km-home{
color:#000;
}

#kendoUiMobileApp #navigation-container .active:after {
    color: #000;
}

#kendoUiMobileApp .containerdivNewLine { clear: both; float: left; display: block; position: relative; } 
#kendoUiMobileApp h5 {color:#FF6600;width:220px;}
#kendoUiMobileApp h2{color:#FF6600;}
#kendoUiMobileApp h3{color:#FF6600;}
#kendoUiMobileApp .left{float:left;vertical-align: top;}
#kendoUiMobileApp .round{border-radius:60px;border:1px solid grey;width:30px;height:30px;padding:5px}
#kendoUiMobileApp .round:active{border:1px solid red;}
#kendoUiMobileApp .home_tile{width:100%;height:100%;}
    .km-arrow-e:after,
    .km-arrow-e:before
    {
        content: "\e013";
    }

#kendoUiMobileApp .tb10 {
	background-image:url(images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 80%;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}