/* Header Start */

.km-nova .km-header .km-navbar .km-view-title {
    color: #fff;
    background-color: #FFFFFF;
    color: #666!important;
    font-size: 1.2em;
    line-height: 2.78em;
}

#kendoUiMobileApp .km-header {
    -moz-box-shadow: 0px 3px 3px #eeeeee;
    -webkit-box-shadow: 0px 3px 3px #eeeeee;
}

#kendoUiMobileApp .header-outer {
    display: inline-block;
    width: 100%;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .header-outer-checkout-flow {
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: 20px;
    color: #FF6600;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .checkout-title {
    color: #006C6F;
    position: absolute;
    top: 30px;
    display: none;
    
}

#rightdrawer .km-vertical-tabstrip {
    background: #FFF;
}

.km-nova .km-view .km-header .km-navbar {
    color: #FF6600;
}

#kendoUiMobileApp .redeem-title {
    color: #006C6F;
    font-size: 30px;
    display: block;
}

#kendoUiMobileApp .Cart-back {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    color: #696969;
}

#kendoUiMobileApp .detail-back {
    -ms-transform: rotate(1809deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    color: #696969;
}



.km-nova .km-footer, .km-nova .km-header .km-title {
    background-color: #f7f7f7!important;
    color: #666666!important;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}

#kendoUiMobileApp .Main-Title {
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: 16px;
    color: #FF6600;
    text-transform: uppercase;
}

#kendoUiMobileApp .header-outer .km-back {
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0 0.5em!important;
    height: 100%;
    line-height: 2.27em!important;
}


#kendoUiMobileApp .Catagory-title {
    margin-left: 50px;
    margin-top: 15px;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: 15px;
    color: #FF6600!important;
    text-transform: uppercase;
}


#kendoUiMobileApp .Default-title {
    margin-left: 0px;
    margin-top: 15px;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: 16px;
    color: #FF6600!important;
    text-transform: uppercase;
}


#kendoUiMobileApp .header-search-link {
    color: #696969;
    font-weight: bold;
    font-size: 20px;
}

/* Header End */


/* Footer Start */
#kendoUiMobileApp .km-footer {
    background: #006C6F;
    padding: 0px;
    -moz-box-shadow: 0px 1px 13px #eeeeee;
    -webkit-box-shadow: 0px 1px 13px #eeeeee;
    box-shadow: 2px #eeeeee;
}

#kendoUiMobileApp .km-drawer .km-footer {
    background-color: #fff!important;
}

#kendoUiMobileApp .footer-first-part {
    width: 10%;
    color: #666;
    background-color: #f7f7f7;
}

#kendoUiMobileApp .footer-second-part {
    width: 24%;
    height: auto;
}

    #kendoUiMobileApp .footer-second-part div {
        margin: 0 auto;
        width: 32%;
        margin-top: 10px;
        font-family: "HimalayaFont"!important;
    }

        #kendoUiMobileApp .footer-second-part div span {
            display: inline block;
            white-space: nowrap;
            font-weight: bold;
            font-size: 20px;
            font-family: "HimalayaFont"!important;
        }

#kendoUiMobileApp .footer-third-part {
    width: 60%;
    height: auto;
    float: right;
    font-family: "HimalayaFont"!important;
}


#kendoUiMobileApp .km-left-drawer .km-footer {
    -moz-box-shadow: 0px 1px 13px #eeeeee;
    -webkit-box-shadow: 0px 1px 13px #eeeeee;
    box-shadow: 2px #eeeeee;
}

/* Footer End */


/* Button Start*/


#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}



    #kendoUiMobileApp .button-group.button-group-vertical .km-button {
        display: block;
    }



#kendoUiMobileApp .button-group {
    table-layout: fixed;
}

    #kendoUiMobileApp .button-group .km-button {
        display: table-cell;
        padding: 1.5em 1.5em;
        margin: 1em 0;
    }

.km-nova .km-tabstrip .km-button {
    background-color: #ffffff;
    width: 100%;
}

#kendoUiMobileApp .km-drawer .km-footer .km-button {
    border: 1px solid #666!important;
    width: 50px;
    height: 50px;
    vertical-align: middle!important;
    text-align: center!important;
    border-radius: 50%;
    background-position: center center;
}



#kendoUiMobileApp .Gray-button {
    background-color: #f7f7f7;
    color: #666;
    font-size: 20px;
    padding: .65em!important;
    border: 1px solid #666;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .Orange-button {
    background-color: #FF6600;
    color: white;
    font-size: 20px;
    padding: .65em!important;
    border: 1px solid #f7f7f7;
    font-family: "HimalayaFont"!important;
    border: none!important;
}

.km-nova .km-link-button {
    color: #FF6600;
    border-color: transparent;
/*     width: 100%; */
    text-align: left;
}

#rightdrawer .km-vertical-tabstrip .km-button {
    background: #F7F7F7;
    color: #666;
}

    #rightdrawer .km-vertical-tabstrip .km-button.km-state-active {
        background: #F7F7F7!important;
        color: #FF6600!important;
    }

#kendoUiMobileApp .checkout-button {
    background-color: #FF6600;
    color: #fff;
    float: right;
    width: 83%;
    margin: 0px;
    border: none;
    border-radius: 0;
    height: 50px;
    font-size: 20px;
}

.km-nova .km-navbar .km-button {
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0 0.5em!important;
    height: 100%;
    line-height: 2.27em!important;
}

#kendoUiMobileApp .home-button {
    border: none;
    margin: 0;
    padding: 0;
}

#kendoUiMobileApp .km-left-drawer .km-footer .km-button {
    padding: 10px 15px 10px 10px!important;
    border-radius: 0px!important;
    border: 0px!important;
    border-right: 1px solid #ccc!important;
    display: block!important;
    float: left;
    position: relative;
    width: 60px;
}

/* Button End*/

/* Button Icons Start */

.km-locator-e:after,
.km-locator-e:before {
    content: "\e0b4";
    color: #ff6600;
}

.km-notification-e:after,
.km-notification-e:before {
    content: "\e0c2";
    color: #ff6600;
}

.km-support-e:after,
.km-support-e:before {
    content: "\e319";
    color: #ff6600;
    background: #ff6600;
}

.km-shipping-e:after,
.km-shipping-e:before {
    content: "\e07a";
    color: #ff6600;
}

.km-policy-e:after,
.km-policy-e:before {
    content: "\e0b2";
    color: #ff6600;
}

.km-delete-e:after,
.km-delete-e:before {
    content: "\e221";
    color: #666;
    padding: 10px;
}



.km-phone-e:after,
.km-phone-e:before {
    content: "\e326";
    font-size: 15px!important;
    text-align: center!important;
}

.km-redeem-e:after,
.km-redeem-e:before {
    content: "\e0c4";
}

.km-gift-e:after,
.km-gift-e:before {
    content: "\e20b";
}

.km-login-e:after,
.km-login-e:before {
    content: "\e0b1";
}

.km-Wishlist-e:after,
.km-Wishlist-e:before {
    content: "\e044";
}

.km-right-e:after,
.km-right-e:before {
    content: "\e316";
}



.km-up-e:after,
.km-up-e:before {
    content: "\e011";
    font-weight: bold;
    font-size: 20px;
}


.km-down-e:after,
.km-down-e:before {
    content: "\e002";
    font-size: 30px!important;
    padding-right: 10px;
}


.km-arrow-e:after,
.km-arrow-e:before {
    content: "\e013";
}



.km-play-e:after,
.km-play-e:before {
    content: "\e013";
}

.km-up-e:after,
.km-up-e:before {
    content: "\e011";
    font-weight: bold;
    font-size: 20px;
}


.km-down-e:after,
.km-down-e:before {
    content: "\e012";
}


.km-rightarrow-e:after,
.km-rightarrow-e:before {
    content: "\e317";
}

.km-back-e:after,
.km-back-e:before {
    content: "&#xf104;";
    
}

.km-nova .km-details:after {
    content: "\e217";
    top: 3px;
}


.km-mail-e:after,
.km-mail-e:before {
    content: "\f003";
    font-size: 2em!important;
    font-family: "fontawesome"!important;
    padding: 0px!important;
    width: auto!important;
    margin-left: -5px!important;
}

.km-phone-e:after,
.km-phone-e:before {
    content: "\f095";
    font-size: 30px!important;
    font-family: "fontawesome"!important;
    padding: 1px 20px 10px 0px!important;
}

.km-help-e:after,
.km-help-e:before {
    content: "\f128";
    font-size: 30px!important;
    font-family: "fontawesome"!important;
}

.km-storelocator-e:after,
.km-storelocator-e:before {
    content: "\f124";
    font-size: 30px!important;
    font-family: "fontawesome"!important;
}
.km-signout-e:after,
.km-signout-e:before {
      content: "\e0b3";
}


/* Button Icons End */


/* Form Element Start*/

#kendoUiMobileApp .form-ul {
    list-style-type: none;
    margin-left: .3em;
}

    #kendoUiMobileApp .form-ul li {
        color: #8A9596;
        padding-left: 10px;
        font-size: 16px;
    }

#kendoUiMobileApp .Address-Text-box {
    padding-top: 10px;
    border: none;
    width: 100%;
    height: 45px;
    font-size: 16px;
}

#kendoUiMobileApp .signin-view {
    width: 100%;
}



#kendoUiMobileApp .authentication-textbox-div {
    width: 104%;
    border-bottom: 1px solid #006C6F;
    height: 50px;
    margin-left: -30px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .authentication-text-spacing {
    padding-top: 30px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .authentication-textbox-div input {
    border: none;
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .authentication-textbox-div select {
    padding-top: 10px;
    border: none;
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-family: "HimalayaFont"!important;
    color: #8A9596;
}

#kendoUiMobileApp .authentication-textbox-div .password {
    padding-top: 10px;
    border: none;
    width: 100%;
    height: 45px;
    font-size: 16px;
    text-security: disc;
    font-family: "HimalayaFont"!important;
    -moz-text-security: disc;
    -webkit-text-security: disc;
}

#kendoUiMobileApp .animated-placholder {
    color: #006C6F;
    position: absolute;
    display: none;
}

#kendoUiMobileApp .address-text-spacing {
    padding-top: 20px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .button-summary-white {
    background-color: white;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .summary-text {
    border: none;
    width: 100%;
    height: 45px;
    font-size: 14px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: "HimalayaFont"!important;
    border-bottom: 1px solid #006C6F;
}

#kendoUiMobileApp .Price-Lable-details {
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    font-style: italic;
    font-size: 14px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .Price-rupuee-details {
    float: left;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 5px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .Price-details {
    float: left;
    font-weight: bold;
    padding-top: 10px;
    font-size: 14px;
    font-family: "HimalayaFont"!important;
}


/* Form Element End*/



/* Category product item division start  */
#kendoUiMobileApp .View-Cell {
    display: table-cell;
    vertical-align: top;
    width: 40%;
}

#kendoUiMobileApp .View-Cell-title {
    display: table-cell;
    vertical-align: top;
    width: 60%;
}

#kendoUiMobileApp .View-Row {
    display: table-row;
}

#kendoUiMobileApp .Caragory-heading-detail {
    display: inline-block;
    white-space: nowrap;
    color: #FF6600!important;
    text-transform: uppercase;
}

#kendoUiMobileApp .Catagory-header-title {
    margin-left: 50px;
    margin-top: 5px;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: 16px;
    color: #FF6600!important;
    text-transform: uppercase;
    font-family: "HimalayaFont";
}

#kendoUiMobileApp .Catagory-Sub-header-title {
    margin-left: 50px;
    margin-top: 27px;
    position: absolute;
    font-size: 100%;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    color: #666!important;
    text-transform: uppercase;
}



#kendoUiMobileApp .Catagory-header-detail-title {
    margin-left: 0px;
    margin-top: 5px;
    position: absolute;
    font-size: 100%;
    display: inline-block;
    white-space: nowrap;
    font-size: 15px;
    color: #FF6600!important;
    text-transform: uppercase;
}

#kendoUiMobileApp .Catagory-Sub-header-detail-title {
    margin-left: 0px;
    margin-top: 27px;
    position: absolute;
    font-size: 100%;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    color: #666!important;
    text-transform: uppercase;
}

#kendoUiMobileApp .padding-befor-productcount {
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 12px;
    width: 30px;
    font-family: "HimalayaFont"!important;
}

/* Category product item division end  */

/* details page style start */

.outer-incdec {
    float: right;
    margin-top: -30px;
    padding-right: 15px;
}

.outerdiv-details > div {
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .tagline {
    color: #aeaeae;
    display: block;
    font-style: italic;
    font-size: 12px;
}

#kendoUiMobileApp .km-view .divOuter-details div {
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
}

#kendoUiMobileApp .Detail-outer-incDec {
    float: right;
    margin-top: -30px;
    padding-right: 15px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .Green-Circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid green;
    background-color: green;
}

#kendoUiMobileApp .padding-20 {
    padding-top: 20px;
}

#kendoUiMobileApp .padding-left-15 {
    padding-left: 15px;
}

#kendoUiMobileApp .padding-left-20 {
    padding-left: 20px;
}

#kendoUiMobileApp .padding-100 {
    padding-top: 100px;
}

#kendoUiMobileApp .Gray-Circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid #ecf0f1;
    background-color: #ecf0f1;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .circle-next-div {
    padding-left: 5px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .GreenMsg {
    color: #00A287;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .OrangeMsg {
    color: #FF6600;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .km-collapsible-content {
    text-align: left!important;
    width: 100%!important;
}

#kendoUiMobileApp .km-collapsible-header {
    text-align: left!important;
    width: 100%!important;
}

#kendoUiMobileApp .Font20 {
    font-size: 20px;
    font-family: "HimalayaFont"!important;
}


#kendoUiMobileApp .Font14 {
    font-size: 14px;
    font-family: "HimalayaFont"!important;
}
#kendoUiMobileApp .Right {
    float: right;
}

#kendoUiMobileApp .padding-before-productcount {
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 12px;
    width: 30px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .clear-after-product-count {
    clear: both;
    float: left;
    display: block;
    position: relative;
}

#kendoUiMobileApp .product-price-display {
    font-size: 13px;
    float: left;
    color: black;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .details-desc-spacing {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .italic {
    font-style: italic;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .Size-color {
    color: #a8a8a8;
    font-size: 14px;
}

#kendoUiMobileApp .price-color {
    color: #000;
    font-size: 13px;
}

#kendoUiMobileApp .wishlist-button {
    font-size: 35px;
    border: none;
    padding: 0px;
    color: #ecf0f1;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .padding-befor-wishlist {
    float: right;
    min-height: 30px;
    padding-right: 40px;
    padding-top: 10px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .detail-size {
    width: 100%;
    color: #a8a8a8;
    font-weight: bold;
    font-size: 14px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .detail-size-lable {
    width: 100%;
    color: #a8a8a8;
    font-style: italic;
    font-size: 14px;
    font-family: "HimalayaFont"!important;
}

#kendoUiMobileApp .Cart-top {
    color: green;
    margin-right: 10px;
    margin-top: 12px;
    font-size: 20px;
}

#kendoUiMobileApp .cart {
    color: #FFF;
    background-color: #006C6F;
    font-weight: bold;
    font-size: 30px;
    padding: 5px 0px 0px 5px;
    border: none;
    color: #666;
    background-color: #f7f7f7;
}

#kendoUiMobileApp .detail-back {
    -ms-transform: rotate(1809deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    font-size: 20px;
    color: #696969;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0 0.5em!important;
    height: 100%;
    line-height: 2.27em!important;
    
}


#kendoUiMobileApp .discription {
text-align: justify
}

    #kendoUiMobileApp .discription ul li {
        line-height: 2;
        font-size: 14px!important;
    }


/* details page style end */

/* history start */
#kendoUiMobileApp .history-font {
    font-size: 15px;
    color: #000;
}

#orderhistory-div .km-link-button {
    color: #666;
}

#kendoUiMobileApp .order-history-header {
    display: block;
    padding-right: 5px;
    text-transform: uppercase;
    font-size: 13px;
}

#kendoUiMobileApp .one-third-order-hisrory {
    padding-left: 10px;
    width: 33%;
    margin: auto;
    display: block;
    white-space: nowrap;
}

#kendoUiMobileApp .order-History-outerDiv {
    width: 100%;
}


#kendoUiMobileApp .green {
    background-color: green;
}

#kendoUiMobileApp .gray {
    background-color: #bdc3c7;
}

#kendoUiMobileApp .left-status-middle {
    height: 10px;
    width: 100%;
}

#kendoUiMobileApp .left-status-left {
    width: 100%;
    height: 10px;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}


#kendoUiMobileApp .left-status-Right {
    height: 10px;
    width: 100%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

#kendoUiMobileApp .evenli {
    background-color: #f7f7f7;
    color: #666!important;
    text-transform: capitalize;
}

#kendoUiMobileApp .oddli {
    background-color: #ffffff;
    color: #666!important;
    text-transform: capitalize;
}

/* history end */

/* right left drawer  start */


#kendoUiMobileApp #navigation-container .active:after {
    color: #000;
}


#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}

    #kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
        max-width: 100%;
        word-wrap: break-word;
    }

#kendoUiMobileApp #navigation-container {
    background: #FFF;
    color: #000;
}

    #kendoUiMobileApp #navigation-container .active {
        background: #FFF;
        color: #000;
    }

.km-nova .km-accent.km-navbar,
.km-nova .km-accent.k-toolbar,
.km-nova .km-accent.km-tabstrip,
.km-nova .km-vertical-tabstrip .km-button.km-state-active:before,
.km-nova .km-drawer .km-listview li.km-state-active:before {
    background: #ff6600!important;
}


#kendoUiMobileApp #left-bottomul li {
    padding-top: 15px;
    color: #000;
}

#kendoUiMobileApp .navigation {
    background-color: #f7f7f7;
    position: relative;
    vertical-align: top;
    color: #666;
}

#right-navigation li {
    padding-top: 30px;
}

#navigation-container {
    list-style-type: none;
    z-index: 10000000;
}


#kendoUiMobileApp .Left-drawer {
    color: #696969;
    font-size: 20px;
}

#kendoUiMobileApp .Right-drawer {
    color: #696969;
    font-size: 20px;
}

#kendoUiMobileApp .km-left-drawer .km-scroll-container {
    height:auto!important;
    vertical-align: top!important;
}




.km-nova .km-drawer .km-content #navigation-container li {
    border: none;
    color: #666;
    background-color: #f7f7f7!important;
    text-transform: uppercase;
    height: 50px;
}

    .km-nova .km-drawer .km-content #navigation-container li a {
        color: #666;
        font-size: 14px;
    }




.km-nova .km-drawer .km-content .km-listview li .km-button {
    background-color: #FF6600;
    background-color: #FF6600;
    color: #fff;
}


.km-nova .km-drawer .km-content .km-listview-link:after {
    background-color: #FF6600;
    display: none;
    color: #fff;
}



.km-nova .km-drawer .km-content .km-listview {
    background-color: #FF6600;
    border: none;
}

.km-nova .km-drawer .km-listview li.km-state-active {
    background-color: #FF6600;
    background-color: #FF6600;
    color: #fff;
    border: none;
}

.km-nova .km-drawer,
[data-role=view-title] {
    border: none;
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}

/* #kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
} */

.km-nova .km-drawer {
    width: 80%;
    border: none;
    background-color: #FFF;
}

.km-nova .km-drawer .km-content {
   background-color: #f7f7f7;
   border: none;
}




#right-navigation {
    list-style-type: none;
    background-color: #FFF;
}


/* right left drawer  end */


/*Payment Option Start*/
.payment-option {
    margin-left: -20px;
    padding-right: 20px;
}

.payment-option li {
padding-top: 20px;
padding-bottom: 40px;
list-style-type: none;
}


.payment-option li div {
  padding-right: 20px;
  font-size: 15px;
}

.payment-option li input[type=radio] {
  transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  -o-transform: scale(2, 2);
}

.payment-width {
    width: 80%;
}
/*Payment Option End*/
/* category scroll start  */
.km-nova .km-header .km-tabstrip .km-button {
    width: 100%;
    white-space: nowrap;
    border-radius: 0px;
    background-color: #f7f7f7!important;
    border: 0;
    border-radius: none;
    color: #F7F7F7!important;
    /*     height:50px; */
    width: 100%;
    text-transform: uppercase;
    scrollbar-base-color: #f7f7f7;
}

.km-nova .km-scrollview-dark {
    background-color: #f7f7f7!important;
}

.km-nova .km-header .km-tabstrip .km-text {
    color: #666!important;
    font-size: 14px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.km-nova .km-header .km-tabstrip .km-button.km-state-active {
    background-image: none;
    background-image: none;
    background-image: none;
    border-bottom: 5px solid #FF6600;
}

.km-nova .km-header .km-navbar {
    width: 100%;
}


/* catagory scroll end */

/* home page start  */


#kendoUiMobileApp .column34 {
    width: 70%;
    float: left;
    position: relative;
}

#kendoUiMobileApp .column13 {
    width: 25%;
    float: left;
    position: relative;
}



#kendoUiMobileApp .column3 {
    width: 33%;
    float: left;
}

#kendoUiMobileApp .column2 {
    width: 49%;
    float: left;
}

#kendoUiMobileApp .column1 {
    width: 99%;
    float: left;
}

#kendoUiMobileApp .row3 {
    width: 33%;
}

#kendoUiMobileApp .row2 {
    width: 49%;
}

#kendoUiMobileApp .row1 {
    width: 99%;
    border-bottom: 10px solid #fff;
}



.floatleft {
    float: left;
    position: relative;
}

.floatright {
    float: right;
    position: relative;
}

.marginleft5 {
    padding-left: 5px;
    vertical-align: middle;
}

/* home page end  */

/* redeem point style start */
.container {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
    width: 100%;
}

.leftcell, .rightcell, .middlecell {
    display: table-cell;
    border-right: 1px solid #FFF;
    white-space: nowrap;
}


/* redeem point style end */

/*Other custom style start  */
::-webkit-input-placeholder {
    color: #7f8c8d;
    font-size: 20px;
    font-family: "HimalayaFont"!important;
}

::-moz-placeholder {
    color: #7f8c8d;
    font-size: 20px;
}
/* firefox 19+ */
:-ms-input-placeholder {
    color: #7f8c8d;
    font-size: 20px;
    font-family: "HimalayaFont"!important;
}
/* ie */
input:-moz-placeholder {
    color: #7f8c8d;
    font-size: 20px;
    font-family: "HimalayaFont"!important;
}




#kendoUiMobileApp .startLink {
    border-bottom: 5px solid #FF6600;
}




#kendoUiMobileApp .image-with-text {
    display: table;
    width: 100%;
}


#kendoUiMobileApp .home-image-a {
    border: 1px solid #f7f7f7;
    width: 50%;
    float: left;
}


#kendoUiMobileApp .km-listview-link {
    color: #000;
}

#kendoUiMobileApp .km-icon .km-home {
    color: #000;
}

#kendoUiMobileApp .class50 {
    width: 50%;
}

#kendoUiMobileApp .class100 {
    width: 100%;
}

#kendoUiMobileApp .class200 {
    width: 200%;
}

#kendoUiMobileApp .class150 {
    width: 150%;
}

#kendoUiMobileApp .class240 {
    width: 240%;
}


#kendoUiMobileApp .greenbg {
    background: #00A287!important;
}

#kendoUiMobileApp .greybg {
    background: #f7f7f7!important;
}

#kendoUiMobileApp .greenbg h3 {
    color: #ffffff!important;
}

#kendoUiMobileApp .greybg h3 {
    color: #666666!important;
}


#kendoUiMobileApp h5 {
    color: #FF6600;
    width: 220px;
    font-size: 14px;
}

#kendoUiMobileApp h2 {
    color: #FF6600;
}

#kendoUiMobileApp h3 {
    color: #FF6600;
    font-size: 14px;
}

#kendoUiMobileApp .left {
    float: left;
    vertical-align: middle;
}

#kendoUiMobileApp .round {
    border-radius: 50%;
    border: 1px solid #666;
    width: 2.26em;
    height: 2.26em;
    vertical-align: middle;
    background-image: url('../images/User-Interface-Minus-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}

#kendoUiMobileApp .round-minus {
    border-radius: 50%;
    border: 1px solid #666;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-image: url('../images/User-Interface-Minus-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}

#kendoUiMobileApp .round-plus {
    border-radius: 50%;
    border: 1px solid #666;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-image: url('../images/User-Interface-Plus-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}

#kendoUiMobileApp .round:active {
    border: 1px solid red;
}

#kendoUiMobileApp .home_tile {
    width: 100%;
    height: 100%;
}


#kendoUiMobileApp .remove-outer-div {
    float: right;
    min-height: 30px;
    padding-right: 50px;
}

#kendoUiMobileApp .Remove-button {
    border: 0;
    color: \#000;
}

#kendoUiMobileApp .uppercase {
    text-transform: uppercase;
}

#kendoUiMobileApp .orange {
    color: #FF6600;
}

#kendoUiMobileApp .cell {
    display: table-cell;
    border: 1px solid #FFF;
}

#kendoUiMobileApp width40 {
    width: 40%;
}

#kendoUiMobileApp width10 {
    width: 10%;
}

#kendoUiMobileApp width60 {
    width: 60%;
}

#kendoUiMobileApp .padding {
    padding: 10px;
}



.km-nova .km-switch-wrapper {
    border-color: #FF6600;
    background-color: #FF6600;
}

.km-nova .km-switch-background {
    background-color: transparent!important;
}

.km-nova .km-switch-handle {
    border: none;
}

@font-face {
    font-family: "HimalayaFont";
    src: url("Font/OpenSans-Semibold-webfont.woff") format("woff"), url("Font/OpenSans-Semibold-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "fontawesome";
    src: url("Font/fontawesome-webfont.woff") format("woff"), url("Font/fontawesome-webfont.ttf") format("truetype");
}

#kendoUiMobileApp .km-nova {
    font-family: "HimalayaFont"!important;
}

body {
    font-family: "HimalayaFont"!important;
}

h6 {
    font-size: 14px;
}


h1, h2, h3, h4, h5, h6, span, div, input, li, a {
    font-family: "HimalayaFont"!important;
}

p {
    line-height: 2;
    font-size: 14px!important;
}



#kendoUiMobileApp .dropdownlistdiv {
    width: 80%;
    float: left;
    position: relative;
    font-size: 16px;
    padding: 10px;
    height: 40px;
}

#kendoUiMobileApp .storelocatorsearchlabel {
    width: 20%;
    float: left;
    position: relative;
    padding: 10px;
    font-weight: 200px;
    background-color: #f7f7f7;
    color: #666;
    height: 40px;
    border-bottom: 1px solid #fff;
}




/*Other custom style start  */


#storesContent{width:100%;height:600px;}
#map_canvas {width:100%;height:100%;position: absolute; top: 0; left: 0; right: 0;
 bottom:0; z-index: 1; overflow: hidden; }
#storesContent #listview li h4,#storesContent #listview li h5{font-size:13px;}
#storesContent #listview li h4 .km-link-button{padding-top:15px!important;}
#storesContent #listview li .km-button{font-size:13px!important;padding:0!important;margin:0!important;display:block!important;}
.km-minimail-e:after,
.km-minimail-e:before
{
	content: "\f003";
	font-size:14px!important;
	font-family: "fontawesome"!important;
}
.km-miniphone-e:after,
.km-miniphone-e:before
{
	 content: "\f095";
	font-size:14px!important;
	font-family: "fontawesome"!important;
}



::-webkit-input-placeholder {
  font-size:16px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size:16px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size:16px; 
}

:-ms-input-placeholder {  
   font-size:16px; 
}



#kendoUiMobileApp  .blockquotei {
    background: #FFF;
    font: italic 17px/1.6'PT Serif',Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;
    padding: 20px;
}

#kendoUiMobileApp .container {
    margin: 0 auto;
    width: 990px;
    background: #fff;
}


#kendoUiMobileApp .simple-pricing-table.col4.featured .column {
    width: 31%;
    margin-right: 10px;
}


#kendoUiMobileApp .simple-pricing-table.col4 .column {
    width: 95%!important;
}



#kendoUiMobileApp .simple-pricing-table.col4 .column {
    width: 233px;
}

#kendoUiMobileApp .simple-pricing-table .column:first-child {
    border-left-color: #ededed;
}


#kendoUiMobileApp .simple-pricing-table .column {
    width: 298px!important;
}

#kendoUiMobileApp .simple-pricing-table .column {
    background: #f6f6f6;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #fff;
    border-top: 1px solid #ededed;
    width: 938px;
}

#kendoUiMobileApp .extended-pricing-table .column, .simple-pricing-table .column {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

#kendoUiMobileApp .Grey{
    color: #666!important;
}
/*Other custom style start  */

/* static content CSS start */

#kendoUiMobileApp .shadow{
-webkit-box-shadow: 1px 8px 9px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 8px 9px -8px rgba(0,0,0,0.75);
box-shadow: 1px 8px 9px -8px rgba(0,0,0,0.75);
}

#kendoUiMobileApp .staticTable{
    display:table;
    
}
#kendoUiMobileApp .staticRow{
    display:table-row;
    
}
#kendoUiMobileApp .staticCell{
    display:table-cell;
    color: #666!important;
     
}

#kendoUiMobileApp .FontBold{
 font-weight: bold!important;
 font-size: 16px;
}

#kendoUiMobileApp .nowrap{
 white-space: nowrap;
}
#kendoUiMobileApp .padding-bottom-100{
    padding-bottom:100px;
}
#kendoUiMobileApp .border-bottom{
    border-bottom:1px solid #f7f7f7!important;
}
/* static content CSS end */

/* Product content css start */
#kendoUiMobileApp .productcontentClass h4{
      padding-top:20px!important;
}
#kendoUiMobileApp .productcontentClass h4 strong{
    font-size:16px;
    color:#FF6600;

}
#kendoUiMobileApp .productcontentClass a {
    display:none;
}

#ingredientsicon, #nutritionalicon, .tablediv, .tdheaddiv1, .tdheaddiv2, .trheaddiv {
    float: left;
    position: relative;
}
.ingredientsicon-old, .researchpapersicon {
    float: left;
    font-weight: 700;
    padding-left: 35px;
    padding-top: 3px;
    position: relative;
}
.researchpapersicon {
    background-repeat: no-repeat;
    color: #024364;
    cursor: pointer;
    height: 20px;
    width: 375px;
}
.newsarchiveactive {
    color: #f60;
}
.pressreleasehide {
    display: none;
}
#ingredients {
    width: 100%;
    z-index: 20000;
}
.front-button, .front-button-innerdiv {
    float: left;
    position: relative;
    z-index: 1000;
}
#ingredientsicon, #nutritionalicon, .ingredientsicon-old {
    background-repeat: no-repeat;
    cursor: pointer;
    height: 30px;
    width: 375px;
}
.ingredientsicon-old {
    background-image: url("../img/ingredientsicon.gif");
    color: #024364;
}
#ingredientsicon, #nutritionalicon {
    margin-left: 30px;
    text-align: center;
}
.tablediv, .trheaddiv {
    width: 100%;
}
.tablediv {
    border-right: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
}
.trheaddiv {
    background-color: #666;
    color: #fff;
    font-weight: 700;
    height: 30px;
/*     text-align: center; */
}
.front-button, .trdiv1, .trdiv2 {
    background-color: #fff;
}
.tdheaddiv1 {
    height: 30px;
    padding: 7px;
    width: 20%;
}
.tdheaddiv2 {
    height: 20px;
    padding: 7px;
    width: 75%;
}
.tdheadfulldiv, .trdiv1, .trdiv2 {
    float: left;
    position: relative;
    width: 100%;
}
.tdheadfulldiv {
    height: 30px;
    padding: 7px;
    text-align: left;
}
.divColumn, .divRow, .productdiv {
    text-align: center;
}
.tddiv1, .tddiv1mw {
    float: left;
    height: 100%;
    padding: 7px;
    position: relative;
}
.trdiv1 {
    border-bottom: 1px solid #ccc;
}
.tddiv1 {
    width: 20%;
}
.tddiv1mw {
    width: 30%;
}
.tddiv1lw, .tddiv2 {
    float: right;
    height: 100%;
    padding: 7px;
    position: relative;
    width: 50%;
}
.tddiv2mw {
    float: left;
    height: 100%;
    padding: 7px;
    position: relative;
    width: 60%;
}
.tddiv2lw, .tddiv3 {
    float: left;
    padding: 7px;
    position: relative;
    width: 20%;
}
.tddiv2lw {
    height: 100%;
    white-space: nowrap;
}
.tddiv3 {
    height: 100px;
}
.tddiv3lw {
    float: left;
    height: 50px;
    padding: 7px;
    position: relative;
    width: 30%;
}
.tddiv3lh {
    float: left;
    height: 220px;
    padding: 7px;
    position: relative;
    width: 20%;
}
.divTable {
    width: 100%;
}
.divRow {
    width: 99%;
}
.divColumn {
    display: block;
    float: left;
    width: 33%;
}
.border-noneval {
    border: 0 none;
}
.front-button {
    border: 5px solid #efefef;
    color: #666;
    display: none;
    width: 300px;
}
.front-button-innerdiv {
    padding-left: 5px;
    text-align: left;
    width: 100%;
}

/* Product content css end  */

/*  refund start*/
#kendoUiMobileApp  .textcontent{
  line-height: 2;
        font-size: 14px!important;
    text-align: justify
}

#kendoUiMobileApp .bordernone{
    border:none;
}


/* refund end */


.km-loader {
    background: rgba(0,0,0,0.1);
}
.km-loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.km-ios7 .k-list, .km-ios7 .k-slider, .km-ios7 .km-widget {
    color: #007aff;
}
.km-ios7, .km-ios7 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
.km-loader {
    top: 50%;
    left: 50%;
    width: 180px;
    height: 130px;
    z-index: 100000;
    padding: 30px 30px;
    position: absolute;
    margin-top: -70px;
    margin-left: -90px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}


div.content-one {
    display:none;
     padding-left:20px;
}


.sitesection{
/* border-bottom:1px solid #666; */
}


.expand-one{
      background-image: url('../images/icons/right_arrow.png');
    background-repeat:no-repeat;
    background-position:left;
      background-size: 13px 13px;
    padding-left:18px;
  
    
}
.expand-one-active{
      background-image: url('../images/icons/down_arrow.png');
    background-repeat:no-repeat;
    background-position:left;
      background-size: 13px 13px;
    padding-left:18px;
  
    
}

.not-active {
   pointer-events: none;
   cursor: default;
}
iframe {
    width:100%;
  
}



#loadingMessage {
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #ccc;
    top: -100px;
    left; 0px;
    position: absolute;
/*      background:url(../images/icons/loadingImage.GIF) center center no-repeat; */
}