.km-nova .km-header .km-navbar  .km-view-title{
    background-color: rgb(255, 255, 255);
 
}

.km-nova .km-header .km-navbar
{
      color:#FF6600;
     border-bottom:1px solid #FF6600;
}

.km-nova .km-view .km-listview{
     border-top:1px solid #FF6600;
}



.km-nova .km-view .km-header .km-navbar{
    color:#FF6600;
    border-bottom:1px solid #FF6600;
}





.km-flat .km-view .km-content {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button {
  background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button.km-state-active {
   background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button .km-text {
    color: rgb(255, 255, 255);
}
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link {
     background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-content .km-list > li {
    background-color: rgb(255, 255, 255);
     border:1px solid #FFF;
    border-bottom:1px solid #ccc;
}
.km-flat .km-view .km-content {
    padding:0;
}
.km-flat .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(255, 102, 0);
}
.km-flat .km-view .km-content .km-button.km-state-active {
    background-color: rgb(255, 102, 0);
}

.km-flat .km-view .km-content .km-button {
    background-color: rgb(255, 255, 255);
     padding: 0;

    margin: 0;
}
.km-flat .km-view  {
    background-color: #FF9819;
}
 .km-right-e:after,
    .km-right-e:before
    {
        content: "\e316";
    }

#kendoUiMobileApp .rupee:after,
#kendoUiMobileApp .rupee:before
{

}

#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendoUiMobileApp .button-group {
    table-layout: fixed;
}

#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}

#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    color: #fff;
    background-color: #10c4b2;
}

#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}

#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}

#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}

#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}

#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}

#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}

#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}

#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}

#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}

#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}


/* START_CUSTOM_CODE_kendoUiMobileApp */
#kendoUiMobileApp .image-home img {


   
}

#kendoUiMobileApp .home-button{
border:none;
    margin:0;
    padding:0;
}

#kendoUiMobileApp .image-with-text img {
  
 

}
#kendoUiMobileApp  .home-image-a{
 border:1px solid #FF6600;
width:50%;
   
 float:left;
}
.km-play-e:after,
.km-play-e:before{
      content: "\e013"; 
    font-size:25px;
}

#kendoUiMobileApp  .detail-back{
margin-left:-30px;
    margin-top:-10px;
    color:#696969;
     
}

#kendoUiMobileApp  .tagline{
    color: #aeaeae;
    display: block;
    font-style: italic;
    font-size:12px;
    
}

/* END_CUSTOM_CODE_kendoUiMobileApp */


/*Fix navigation labels*/

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}

#kendoUiMobileApp #navigation-container .active {
    background: #10c4b2;
    color: #fff;
}

#kendoUiMobileApp #navigation-container .active:after {
    color: #fff;
}
#kendoUiMobileApp .containerdivNewLine { clear: both; float: left; display: block; position: relative; } 
#kendoUiMobileApp h5 {color:#FF6600;width:220px;}
#kendoUiMobileApp h2{color:#FF6600;}
#kendoUiMobileApp h3{color:#FF6600;}
#kendoUiMobileApp .left{float:left;vertical-align: top;}
#kendoUiMobileApp .round{border-radius:60px;border:1px solid grey;width:30px;height:30px;padding:5px}
#kendoUiMobileApp .home_tile{width:100%;height:100%;}
    .km-arrow-e:after,
    .km-arrow-e:before
    {
        content: "\e013";
    }

#kendoUiMobileApp .tb10 {
	background-image:url(images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 80%;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}