    <div data-role="view" style="height:2000px;" data-title="E Gift Card" data-layout="main-nonav"
         data-model="app.EgiftExternal"  data-show="app.EgiftExternal.onShow" data-after-show="app.EgiftExternal.afterShow">
          <div class="signin-view">
            <form>
                <ul class="form-ul" >
                    <li>
<!--                         <span id="spanCardNumber" class="animated-placholder" style="top:30px;">E Gift Card Number</span> -->
                       <div class="authentication-textbox-div">

                             <input id="inputCardNumber" onkeypress="aniEmail();"  onkeyup = "upaniEmail(this.id);"  placeholder="E Gift Card Number" type="number" maxlength="20" data-bind="value: authenticationViewModel.email" >
                        </div>


                    </li>
                    <li>
                        <div class="authentication-text-spacing">

                        </div>
                    </li>
                    <li>
<!--                                             <span id="spanCardPin" class="animated-placholder" style="top:110px;">E Gift Card Pin</span> -->
                     <div class="authentication-textbox-div">
                            <input id="inputCardPin" onkeypress="aniPassword();" maxlength="10" onkeyup = "upaniPassword(this.id);"  placeholder="E Gift Card Pin"  type="number" class="password" data-bind="value: authenticationViewModel.password" required>
                      </div>
                    </li>
                </ul>

                <div class="button-group button-group-vertical">
                    <a data-role="button" class="Orange-button km-large"     >View Balance</a>

                    <a data-role="button" class="Gray-button km-large" >Reset</a>

                </div>
            </form>
        </div>
    </div>