<div data-role="view" data-title="Order History" data-layout="main-nonav" data-model="app.orderHistory" data-show="app.orderHistory.onShow" data-after-show="app.orderHistory.afterShow">
    <!-- START_CUSTOM_CODE_orderHistory -->
    <!-- END_CUSTOM_CODE_orderHistory -->
     <ul data-role="listview"  data-endless-scroll="false" >
         <li>
              <a data-role="button" class="km-link-button"  href="components/OrderHistoryItems/view.html"> 
             <div  class="container" align="center"  >
               <div    class="row" align="center">

            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order no</span>
                <span class="history-font">23450</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;">Order Date</span>
                <span class="history-font">Nov 02 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order Amount</span>
                <span class="history-font">&#8377 2300.00</span>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
                 </br>
                 
               <div  class="container" align="center"  >
               <div    class="row" align="center">
                    <div    class="leftcell" align="center">
                      <span class="history-font">Processed</span>
            <div class="left-status-left green" ></div>
                    
                       </div>
                  
                    <div   class="middlecell" align="center">
                     <span class="history-font">&nbsp;&nbsp;&nbsp;Packed&nbsp;&nbsp;&nbsp;</span>
            <div class="left-status-middle gray" ></div>
                   </div>
                    <div    class="rightcell" align="center">
                       <span class="history-font">&nbsp;Shipped&nbsp;</span>
            <div class="left-status-Right gray" ></div>
                   </div>
                   </div>
             </div>
         </a>     
              <div style="width:100%;display:block;padding-top:10px;" align="center">
                  
  
        <a data-role="button" class="km-small" href="" data-align="right" style="display:none;" >Reorder</a>
           </div>
             
         </li>
  <li>
       <a data-role="button" class="km-link-button"  href="components/OrderHistoryItems/view.html"> 
             <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order no</span>
                <span class="history-font">23451</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;">Order Date</span>
                <span class="history-font">Nov 03 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order Amount</span>
                <span class="history-font">&#8377 2400.00</span>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
                 </br>
                 
               <div  class="container" align="center"  >
               <div    class="row" align="center">
                    <div    class="leftcell" align="center">
                      <span class="history-font">Processed</span>
            <div class="left-status-left green" ></div>
                    
                       </div>
                  
                    <div   class="middlecell" align="center">
                     <span class="history-font">&nbsp;&nbsp;&nbsp;Packed&nbsp;&nbsp;&nbsp;</span>
            <div class="left-status-middle green" ></div>
                   </div>
                    <div    class="rightcell" align="center">
                       <span class="history-font">&nbsp;Shipped&nbsp;</span>
            <div class="left-status-Right green" ></div>
                   </div>
                   </div>
             </div>
</a>
              <div style="width:100%;display:block;padding-top:10px;" align="center">
                  
  
        <a data-role="button" class="km-small" href="" data-align="right" >Reorder</a>
           </div>
         </li>
  <li>
       <a data-role="button" class="km-link-button"  href="components/OrderHistoryItems/view.html"> 
             <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order no</span>
                <span class="history-font">23453</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;">Order Date</span>
                <span class="history-font">Nov 04 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order Amount</span>
                    <div style="text-decoration: line-through">
                <span class="history-font">&#8377 2100.00</span>
                 </div>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
           
                 </br>
                 <div style="width:100%;display:block;padding-bottom:10px;color:red;" align="center">
                     <span class="history-font">Canceled</span>
                     
</div>
               <div  class="container" align="center"  >
               <div    class="row" align="center">
                    <div    class="leftcell" align="center">
                      <span class="history-font" >Processed</span>
            <div class="left-status-left gray" ></div>
                    
                       </div>
                  
                    <div   class="middlecell" align="center">
                     <span class="history-font">&nbsp;&nbsp;&nbsp;Packed&nbsp;&nbsp;&nbsp;</span>
            <div class="left-status-middle gray" ></div>
                   </div>
                    <div    class="rightcell" align="center">
                       <span class="history-font">&nbsp;Shipped&nbsp;</span>
            <div class="left-status-Right gray" ></div>
                   </div>
                   </div>
             </div>
</a>  
              <div style="width:100%;display:block;padding-top:10px;" align="center">
                  
  
        <a data-role="button" class="km-small" href="" data-align="right" >Reorder</a>
           </div>
         </li>
  <li>
      
       <a data-role="button" class="km-link-button"  href="components/OrderHistoryItems/view.html"> 
             <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order no</span>
                <span class="history-font">23455</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;">Order Date</span>
                <span class="history-font">Nov 06 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order Amount</span>
                 <div >
                     
                
                <span class="history-font">&#8377 3300.00</span>
                      </div>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
                 </br>
                 
               <div  class="container" align="center"  >
               <div    class="row" align="center">
                    <div    class="leftcell" align="center">
                      <span class="history-font">Processed</span>
            <div class="left-status-left green" ></div>
                    
                       </div>
                  
                    <div   class="middlecell" align="center">
                     <span class="history-font">&nbsp;&nbsp;&nbsp;Packed&nbsp;&nbsp;&nbsp;</span>
            <div class="left-status-middle green" ></div>
                   </div>
                    <div    class="rightcell" align="center">
                       <span class="history-font">&nbsp;Shipped&nbsp;</span>
            <div class="left-status-Right green" ></div>
                   </div>
                   </div>
             </div>
</a>
              <div style="width:100%;display:block;padding-top:10px;" align="center">
                  
  
        <a data-role="button" class="km-small" href="" data-align="right" >Reorder</a>
           </div>
         </li>
  <li>
      
       <a data-role="button" class="km-link-button"  href="components/OrderHistoryItems/view.html"> 
             <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order no</span>
                <span class="history-font">23457</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;">Order Date</span>
                <span class="history-font">Nov 07 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order Amount</span>
                <span class="history-font">&#8377 2000.00</span>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
                 </br>
                 
               <div  class="container" align="center"  >
               <div    class="row" align="center">
                    <div    class="leftcell" align="center">
                      <span class="history-font">Processed</span>
            <div class="left-status-left green" ></div>
                    
                       </div>
                  
                    <div   class="middlecell" align="center">
                     <span class="history-font">&nbsp;&nbsp;&nbsp;Packed&nbsp;&nbsp;&nbsp;</span>
            <div class="left-status-middle green" ></div>
                   </div>
                    <div    class="rightcell" align="center">
                       <span class="history-font" >&nbsp;Shipped&nbsp;</span>
            <div class="left-status-Right green" ></div>
                   </div>
                   </div>
             </div>
</a>
              <div style="width:100%;display:block;padding-top:10px;" align="center">
                  
  
        <a data-role="button" class="km-small" href="" data-align="right" >Reorder</a>
           </div>
         </li>
  <li>
      
       <a data-role="button" class="km-link-button"  href="components/OrderHistoryItems/view.html"> 
             <div  class="container" align="center"  >
               <div    class="row" align="center">
                   
              
        
            <div class="leftcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order no</span>
                <span class="history-font">23458</span>
                
             </div>
             <div class="middlecell" align="center">
            <span style="display: block;color:#bdc3c7;">Order Date</span>
                <span class="history-font">Nov 08 2015</span>
             </div>
             <div class="rightcell" align="center">
             <span style="display: block;color:#bdc3c7;">Order Amount</span>
                <span class="history-font">&#8377 2300.00</span>
             </div>
                 <div>
               
           </div>
                      </div>
                 
             </div>
                 </br>
                 
               <div  class="container" align="center"  >
               <div    class="row" align="center">
                    <div    class="leftcell" align="center">
                      <span class="history-font">Processed</span>
            <div class="left-status-left green" ></div>
                    
                       </div>
                  
                    <div   class="middlecell" align="center">
                     <span class="history-font" >&nbsp;&nbsp;&nbsp;Packed&nbsp;&nbsp;&nbsp;</span>
            <div class="left-status-middle green" ></div>
                   </div>
                    <div    class="rightcell" align="center">
                       <span class="history-font">&nbsp;Shipped&nbsp;</span>
            <div class="left-status-Right green" ></div>
                   </div>
                   </div>
             </div>
</a>
              <div style="width:100%;display:block;padding-top:10px;" align="center">
                  
  
        <a data-role="button" class="km-small" href="" data-align="right" >Reorder</a>
           </div>
         </li>
    </ul>
</div>

             
             