<div data-role="view" data-title="Payment Option" data-layout="CheckOut" data-model="app.paymentOptiion" data-show="app.paymentOptiion.onShow" data-after-show="app.paymentOptiion.afterShow">
    <!-- START_CUSTOM_CODE_paymentOptiion -->
      <ul class="payment-option" >
                
          <li>
               <lable>BILL DESK</lable>
   <div align="right">
                        <input type="radio" name="payment" id="billdeskRadio" checked="checked"  />
                    </div>
              </li>
          <li>
                 <lable>BANK</lable>
     <div align="right">
                        <input type="radio" name="payment" id="bankRadio" />
                    </div>
              </li>
                  <li>
                 <lable>E Gift Card</lable>
    <div align="right">
                        <input type="radio" name="payment" id="giftcardkRadio"  />
                    </div>
              </li>
    <li>
                                <a  href="components/egiftcard/view.html" style="background-color:#006C6F;color:white;text-align:center;" data-role="button" class="largebutton"  >Checkout</a>
                         </li>
    <!-- END_CUSTOM_CODE_paymentOptiion -->
</div>