<div data-role="view" data-title="Payment Option" data-layout="CheckOut" data-model="app.paymentOptiion" data-show="app.paymentOptiion.onShow" data-after-show="app.paymentOptiion.afterShow">
    <!-- START_CUSTOM_CODE_paymentOptiion -->
      <ul class="payment-option" >
                
          <li >
               <div class="left payment-width Font14">
                   Bill Desk</div>
   <div class="left">
                        <input type="radio" name="payment" id="billdeskRadio" checked="checked"  />
                    </div>
              </li>
          <li>
                  <div class="left payment-width Font14">Bank</div>
     <div class="left">
                        <input type="radio" name="payment" id="bankRadio" />
                    </div>
              </li>
                  <li>
                  <div class="left payment-width Font14">E Gift Card</div>
    <div class="left">
                        <input type="radio" name="payment" id="giftcardkRadio"  />
                    </div>
              </li>
  
    </ul>
     <div class="button-group button-group-vertical">
                                <a  href="components/Paymentgatway/view.html"  data-role="button" class="Orange-button km-large class100"  >Checkout</a>
        </div>
    <!-- END_CUSTOM_CODE_paymentOptiion -->
</div>