<div data-role="view" data-title="Hair Care" data-layout="main-nonav" data-model="app.hariCares" data-show="app.hariCares.onShow" data-after-show="app.hariCares.afterShow">
    <!-- START_CUSTOM_CODE_hariCares -->
    <!-- END_CUSTOM_CODE_hariCares -->
    <ul data-role="listview" data-style="inset" data-template="hariCaresModelTemplate" data-bind="{ source: hariCaresModel.dataSource, events: {click: hariCaresModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="false" data-filterable="{field: 'ProductName', operator: 'contains'}">
    </ul>
    <!-- START_CUSTOM_CODE_hariCaresModel -->
    <!-- END_CUSTOM_CODE_hariCaresModel -->
    <script type="text/x-kendo-template" id="hariCaresModelTemplate">
        <div class="image-with-text">
            <h3>#: data['ProductName'] #</h3>

        </div>
    </script>
</div>