<div data-role="view" data-title="general" data-layout="Wellness" data-model="app.general" data-show="app.general.onShow" data-after-show="app.general.afterShow">
    <!-- START_CUSTOM_CODE_general -->
    <!-- END_CUSTOM_CODE_general -->
    <ul data-role="listview" data-style="inset" data-template="generalModelTemplate" data-bind="{ source: generalModel.dataSource, events: {click: generalModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="false" data-filterable="{field: 'ProductName', operator: 'contains'}">
    </ul>
    <!-- START_CUSTOM_CODE_generalModel -->
    <!-- END_CUSTOM_CODE_generalModel -->
    <script type="text/x-kendo-template" id="generalModelTemplate">
            <div  style="width:100%;">
                 <div class="image-with-text left" style=" display: table;width:100%;" >
                 <div style="display: table-row;width:100%;">
                                             <a  href="\#components/general/details.html?uid=${uid}"> 
                                                     <div style="display: table-cell;width:30%;vertical-align:top;float:left;">
                                                      <img src="#: data['ImageUrl'] #" width="100%" >
                                                      </div>
                                                       <div style="display: table-cell;vertical-align:top;width:30%;" >
                                                       <h5 style="width:100%;">#: data['ProductName'] #</h5>
                                                        <h6>Rs:#: data['Price'] #</h6>
                                                         <h6 style="color:\#a8a8a8">#: data['size'] #</h6>
                                                        </div>
                                                 </a>   
                                        				 <div style="display: table-cell;width:30%;vertical-align:top;">
                                          						<div style="float:right;">
                                          							<div style="float:right;">
                                           								<a data-product="#: data['ProductName'] #" data-size="#: data['size'] #"  data-imageurl="#:
                                                                        data['ImageUrl'] #" data-id="#: data['Catalogid'] #"  data-role="button" class="left round" data-click="removeFromCart"  data-title="test"  data-test="#: data['Test'] #" >
                                          									<img src="images/User-Interface-Minus-icon.png">
                                          								</a>
                                          								<div  data-init="init"  class="left" style="padding-right:7px;padding-left:7px;padding-top:4px;" >
                                           										0<i></i>
                                           								</div>
                                                                        
                                                                               <a  data-role="button" class="left round"  data-product="#: data['ProductName'] #" data-size="#: data['size'] #"  data-imageurl="#: data['ImageUrl'] #" data-id="#: data['Catalogid'] #"  data-role="button" class="left round" data-click="addToCart" data-title="test" 
                                                                               data-test="#: data['Test'] #" >
                                                                               <img  src="images/User-Interface-Plus-icon.png">
                                                                                </a>
                                           								</div>
                                           							</div>
                                           					</div>
                                            </div>
                      </div>
       </div>
        </div>
    </script>
</div>